flows .json
[{"id":"1fba8fdc.bda63","type":"tab","label":"Simple Telegram-Bot","disabled":false,"info":""},{"id":"14d10ecb.bb6e81","type":"inject","z":"1fba8fdc.bda63","name":"Start hook setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":180,"y":80,"wires":[["c6772e6d.10e27"]]},{"id":"5dbd22ae.4f8eec","type":"http request","z":"1fba8fdc.bda63","name":"Send hooks","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/setWebhook?url=https://9cc63f61ecbc.ngrok.io/UnivercitySecy2_bot","tls":"","persist":false,"proxy":"","authType":"basic","x":170,"y":380,"wires":[[]]},{"id":"20f264d4.1be5bc","type":"debug","z":"1fba8fdc.bda63","name":"Show result of setup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":200,"y":260,"wires":[]},{"id":"7666ca16.dcfeb4","type":"http in","z":"1fba8fdc.bda63","name":"","url":"/UnivercitySecy2_bot","method":"post","upload":false,"swaggerDoc":"","x":130,"y":860,"wires":[["10766b0.26bf095","6843ed87.e31e94","30ff337.e0578cc"]]},{"id":"10766b0.26bf095","type":"debug","z":"1fba8fdc.bda63","name":"Show http request from user","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":800,"wires":[]},{"id":"6843ed87.e31e94","type":"http response","z":"1fba8fdc.bda63","name":"Ok 200","statusCode":"200","headers":{},"x":260,"y":920,"wires":[]},{"id":"30ff337.e0578cc","type":"change","z":"1fba8fdc.bda63","name":"Change params:","rules":[{"t":"set","p":"telegram_token","pt":"msg","to":"1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM","tot":"str"},{"t":"set","p":"receiver","pt":"msg","to":"payload.message.from.id","tot":"msg"},{"t":"set","p":"receiver","pt":"msg","to":"payload.callback_query.from.id","tot":"msg"},{"t":"set","p":"first_name","pt":"msg","to":"req.body.callback_query.from.first_name","tot":"msg"},{"t":"set","p":"first_name","pt":"msg","to":"req.body.message.from.first_name","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"req.body.callback_query.data","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"req.body.message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":860,"wires":[["14cd06e1.82c309"]]},{"id":"14cd06e1.82c309","type":"switch","z":"1fba8fdc.bda63","name":"Control NODE","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/continueWithCurrentName","vt":"str"},{"t":"eq","v":"/changeName","vt":"str"},{"t":"eq","v":"payload.message.text","vt":"msg"},{"t":"eq","v":"/enterCity","vt":"str"},{"t":"eq","v":"message","vt":"msg"},{"t":"eq","v":"payload.message.role","vt":"msg"},{"t":"eq","v":"enterRole","vt":"str"},{"t":"eq","v":"/Applicant","vt":"str"},{"t":"eq","v":"/Parents","vt":"str"},{"t":"eq","v":"/Teacher","vt":"str"},{"t":"eq","v":"/Student","vt":"str"},{"t":"eq","v":"/Other","vt":"str"},{"t":"eq","v":"/PopularQA","vt":"str"},{"t":"eq","v":"/AboutCatedra","vt":"str"},{"t":"eq","v":"/AboutBot","vt":"str"},{"t":"eq","v":"/About_NULP","vt":"str"},{"t":"eq","v":"payload.message.text","vt":"msg"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":19,"x":640,"y":860,"wires":[["979704b2.3c9378"],["aa932a9e.48de18"],["cdb184be.b23d48"],["eaf26590.d9be08"],["b32911ff.b918"],[],["d7bdc9ca.e4b668"],["b403e5cf.894ba8"],["a7a1de5e.0ba79"],["559e36e5.aaf228"],["7a08cf95.5e50e"],["91c8456.667d9b8"],["bf4f9020.c0af4"],["e3e54a71.8c4a18"],["e655338e.fbd51"],["6f910003.e90f"],["4a927d4c.aa7264"],["8dd15b23.afd9f8"],[]]},{"id":"5f327e72.dc193","type":"function","z":"1fba8fdc.bda63","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": msg._dialogflow.fulfillmentMessages[0].text.text[0],\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;\n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":1600,"wires":[["2a4feddc.b984f2"]]},{"id":"400fbb46.b30fd4","type":"dialogflowv2","z":"1fba8fdc.bda63","dialogflow":"f3dfe751.9ee8b8","language":"uk","debug":true,"queryParamsOK":false,"x":1420,"y":1600,"wires":[["5f327e72.dc193","6da93ba6.b08164"]]},{"id":"a941b597.2c9ea8","type":"function","z":"1fba8fdc.bda63","name":"Ask personal question","func":"msg.payload = msg.payload.message.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1600,"wires":[["400fbb46.b30fd4","d6d4d744.702588"]]},{"id":"6da93ba6.b08164","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1540,"wires":[]},{"id":"979704b2.3c9378","type":"function","z":"1fba8fdc.bda63","name":"Display main bottom menu","func":"msg.method = \"POST\";\n\nmsg.payload = {\n\n    \"text\": \"Дякуємо за довіру !!!\",\n        \"reply_markup\": {\n            \"keyboard\": [ \n                ['◀️ Головне Меню'],\n                ['Задати питання 🔥']\n            ],\n            \"resize_keyboard\" : true,\n      \"one_time_keyboard\" : true,\n      callback_data: \"/mainMenu\" \n\n    },\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":60,"wires":[["643b6831.398d58","628fe475.492b5c","4f1b1050.2ea09"]]},{"id":"689bb79b.9d0fc8","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":1640,"wires":[[]]},{"id":"643b6831.398d58","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":20,"wires":[]},{"id":"8dd15b23.afd9f8","type":"switch","z":"1fba8fdc.bda63","name":"Main bottom MENU","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"Задати питання","vt":"str"},{"t":"cont","v":" Головне Меню","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1620,"wires":[["a941b597.2c9ea8"],["4d0c54a2.369f1c"]]},{"id":"9298cf25.201fb","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1870,"y":280,"wires":[["f9b76205.f04e"]]},{"id":"4f1b1050.2ea09","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":120,"wires":[[]]},{"id":"29f648a7.9f49a8","type":"function","z":"1fba8fdc.bda63","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Чудово! Напишіть Ваше запитання...🖌\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1880,"wires":[[]]},{"id":"46f7cb82.9d8d24","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1830,"y":740,"wires":[[]]},{"id":"4d0c54a2.369f1c","type":"function","z":"1fba8fdc.bda63","name":"Display Main Inline Menu","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n\nmsg.payload = {\n    text: \"Вітаю, Ви в головному меню. Виберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Про НУЛП 🏛\",\n                callback_data: \"/About_NULP\"            \n            }, \n            {\n                text: \"Про кафедру ІСМ 🎓\",\n                callback_data: \"/AboutCatedra\"            \n            }],\n            [{\n                text: \"Найпопулярніші питання 🔥\",\n                callback_data: \"/PopularQA\"            \n            }],\n            [{\n                text: \"Як користуватися ботом ⚙️\",\n                callback_data: \"/AboutBot\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1640,"wires":[["689bb79b.9d0fc8"]]},{"id":"d6d4d744.702588","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1540,"wires":[]},{"id":"559e36e5.aaf228","type":"function","z":"1fba8fdc.bda63","name":"Update User Role /Parent","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver },\n        {\n        \"$set\":{\n            \"role\" : msg.payload.callback_query.data\n            \n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1080,"wires":[["ed9db5e4.892848"]]},{"id":"2a4feddc.b984f2","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1850,"y":1600,"wires":[["5a7f56d0.d25d38"]]},{"id":"5a7f56d0.d25d38","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1930,"y":1540,"wires":[]},{"id":"edbee586.e17748","type":"function","z":"1fba8fdc.bda63","name":"Name option","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \" Давайте знайомитись ближче 🤓  \\r\\nЧи можу я до Вас звертатись\" + \" \" +\"*\" + msg.first_name + \"*\" + \" \" + \"?\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Так, звісно\",\n                callback_data: \"/continueWithCurrentName\"            \n            }, \n            {\n                text: \"Я хочу змінити\",\n                callback_data: \"/changeName\"            \n            }]\n            ]\n        },\n        \"chat_id\": 688401120,\n        \"parse_mode\" : \"Markdown\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":60,"wires":[["4bfadc3e.ecd7e4","1d27c581.77e28a"]]},{"id":"628fe475.492b5c","type":"delay","z":"1fba8fdc.bda63","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":60,"wires":[["edbee586.e17748"]]},{"id":"4bfadc3e.ecd7e4","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":120,"wires":[[]]},{"id":"1d27c581.77e28a","type":"function","z":"1fba8fdc.bda63","name":"Insert chat_id ","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { \n    'chat_id' : msg.receiver,\n    'name': \"Не обрано імені\",\n    'city': \"Не вказано локації\",\n    'role': \"Не вказано ролі\",\n    'pointer': \"Pointer\" // мітка для БД\n    \n    \n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":60,"wires":[["ae67423d.3e8ec","7d49033c.550f6c","44b2dab3.1859a4"]]},{"id":"ae67423d.3e8ec","type":"mongodb3 in","z":"1fba8fdc.bda63","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"user","operation":"insert","x":1790,"y":60,"wires":[["3fc61419.cba5ac"]]},{"id":"3fc61419.cba5ac","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2030,"y":60,"wires":[]},{"id":"f9b76205.f04e","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1950,"y":240,"wires":[]},{"id":"aa932a9e.48de18","type":"function","z":"1fba8fdc.bda63","name":"Update Current Name","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver,\n       'pointer': \"Pointer\"\n        \n    },\n        {\n        \"$set\":{\n            \"name\" : msg.first_name\n\n            \n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":280,"wires":[["f47e4639.6c9948","364c6b11.fd1064","a333c847.6db978"]]},{"id":"f47e4639.6c9948","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":320,"wires":[[]]},{"id":"364c6b11.fd1064","type":"mongodb3 in","z":"1fba8fdc.bda63","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"user","operation":"update","x":1330,"y":280,"wires":[["52398d66.fef944","d536af8c.cff3"]]},{"id":"d536af8c.cff3","type":"function","z":"1fba8fdc.bda63","name":"Offer Enter another name","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Введіть Ваше ім'я та натисніть кнопку\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Підтвердити\",\n                callback_data: \"/enterCity\"            \n            }]\n            ]\n       },\n        \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":280,"wires":[["9298cf25.201fb"]]},{"id":"855c7ffe.4f732","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":400,"wires":[["6f77a827.82bff8"]]},{"id":"6f77a827.82bff8","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":400,"wires":[]},{"id":"7a08cf95.5e50e","type":"function","z":"1fba8fdc.bda63","name":"Update User Role /Teacher","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver },\n        {\n        \"$set\":{\n            \"role\" : msg.payload.callback_query.data\n            \n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1120,"wires":[["ed9db5e4.892848"]]},{"id":"65f318f4.9e7198","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":460,"wires":[]},{"id":"eda3663c.997098","type":"function","z":"1fba8fdc.bda63","name":"Update User Location/city at DB","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\n\n\n\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver,\n//       'pointer': \"Pointer\"\n      \n    },\n        {\n        \"$set\":{\n\n            \"city\" : msg.payload\n\n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":840,"wires":[["f11a4ead.dfbee","c7f199b5.454d98"]]},{"id":"9c5e11b0.af533","type":"template","z":"1fba8fdc.bda63","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"🔶'*'{{payload.title}}'*'\n\n{{payload.ques}}","output":"str","x":1760,"y":1300,"wires":[["b735c08f.ac50c"]]},{"id":"f11a4ead.dfbee","type":"mongodb3 in","z":"1fba8fdc.bda63","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"user","operation":"insert","x":1870,"y":840,"wires":[["1b72eacb.260165"]]},{"id":"4a927d4c.aa7264","type":"function","z":"1fba8fdc.bda63","name":"About NULP","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Національний університет «Львівська політехніка» — найстаріший вищий технічний навчальний заклад України та Східної Європи, заснований 1816 року. Університет складається з 16 інститутів, 114 кафедр, відокремлених навчальних закладів, громадських організацій та загальних підрозділів.\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1420,"wires":[["2a14fd4a.dad052"]]},{"id":"8ed664b5.86bd28","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":1020,"wires":[]},{"id":"e655338e.fbd51","type":"function","z":"1fba8fdc.bda63","name":"About ICM","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n//msg.url = `https://api.telegram.org/bot${msg.telegram_token}/sendMessage`;\nmsg.payload = {\n    \n    \"text\": \"*Кафедра Інформаційні Системи та Мережі* \\r\\n  \\r\\nЗдійснює підготовку фахівців з вищою освітою за освітньо-професійними програмами спеціальностей: \\r\\n✔️124 *Системний аналіз*; \\r\\n✔️126 *Інформаційні системи та технології * \\r\\n \\r\\nНа першому (бакалаврський), другому (магістерський) і третьому (освітньо-науковий) рівнях вищої освіти. \\r\\n[Ознайомитись із деталями на офіційному сайті](http://ism.lpnu.ua/)\",\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"Markdown\"\n    }\n    \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1380,"wires":[["2a14fd4a.dad052"]]},{"id":"6f910003.e90f","type":"function","z":"1fba8fdc.bda63","name":"About BOT","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Тут буде згодом інформація як користуватися ботом\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1460,"wires":[["2a14fd4a.dad052"]]},{"id":"2a14fd4a.dad052","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":1420,"wires":[["560690a4.f16e7"]]},{"id":"9e56d5e4.d70a68","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":960,"wires":[]},{"id":"9a73fdf3.f886c","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":1040,"wires":[]},{"id":"560690a4.f16e7","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":1360,"wires":[]},{"id":"b403e5cf.894ba8","type":"function","z":"1fba8fdc.bda63","name":"Offer to Choose User Role ","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n\nmsg.payload = {\n    text: \"Супер для кращого підбору FAQ виберіть свій вид зайнятості\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Абітурієнт\",\n                callback_data: \"/Applicant\"            \n            }, \n            {\n                text: \"Один з батьків\",\n                callback_data: \"/Parents\"            \n            }],\n            [{\n                text: \"Викладач\",\n                callback_data: \"/Teacher\"            \n            },\n            {\n                text: \"Студент\",\n                callback_data: \"/Student\"            \n            }],\n            [{\n                text: \"Інше\",\n                callback_data: \"/Other\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1000,"wires":[["d937cd70.08774","9e56d5e4.d70a68"]]},{"id":"d937cd70.08774","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":1000,"wires":[[]]},{"id":"f1586edf.43164","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":780,"wires":[]},{"id":"a7a1de5e.0ba79","type":"function","z":"1fba8fdc.bda63","name":"Update User Role /Applicant","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver },\n        {\n        \"$set\":{\n            \"role\" :  + msg.payload.callback_query.data\n            \n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;\n\n//'.{0}-$.'","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1040,"wires":[["9a73fdf3.f886c","ed9db5e4.892848"]]},{"id":"ed9db5e4.892848","type":"mongodb3 in","z":"1fba8fdc.bda63","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"user","operation":"update","x":1430,"y":1100,"wires":[["9c15fbe9.258c78","8ed664b5.86bd28"]]},{"id":"c7f199b5.454d98","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":780,"wires":[]},{"id":"e3e54a71.8c4a18","type":"function","z":"1fba8fdc.bda63","name":"Selection Popular Questions from DataBase","func":"var newMsg = {};\n\nnewMsg.collection = 'popular_ques';\nnewMsg.operation  = 'find.forEach';\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1300,"wires":[["dd8f4e32.31e9a"]]},{"id":"dd8f4e32.31e9a","type":"mongodb3 in","z":"1fba8fdc.bda63","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"popular_ques","operation":"find.forEach","x":1440,"y":1300,"wires":[["39adac33.237ad4","9c5e11b0.af533"]]},{"id":"d8d4c1ca.49d76","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":460,"wires":[]},{"id":"b735c08f.ac50c","type":"function","z":"1fba8fdc.bda63","name":"Printing popular QA","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": msg.payload,\n    \"chat_id\": 688401120,\n    \"parse_mode\" : \"Markdown\"\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":1300,"wires":[["1becfd92.54dec2","f91a9293.a9eaf"]]},{"id":"f91a9293.a9eaf","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2290,"y":1300,"wires":[["616546a9.ea23a8"]]},{"id":"616546a9.ea23a8","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2350,"y":1240,"wires":[]},{"id":"1becfd92.54dec2","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2070,"y":1240,"wires":[]},{"id":"39adac33.237ad4","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":1240,"wires":[]},{"id":"317c6ccf.f49c94","type":"comment","z":"1fba8fdc.bda63","name":"Flow Greeting & Add User id into DataBase","info":"","x":500,"y":40,"wires":[]},{"id":"87921069.df3b6","type":"comment","z":"1fba8fdc.bda63","name":"1 step","info":"# ","x":610,"y":80,"wires":[],"icon":"node-red/mongodb.png"},{"id":"a333c847.6db978","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":220,"wires":[]},{"id":"52398d66.fef944","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":220,"wires":[]},{"id":"c9ca3cb.d0277c","type":"comment","z":"1fba8fdc.bda63","name":"Continuing flow with current User name","info":"","x":510,"y":240,"wires":[]},{"id":"29f78692.d6fa3a","type":"comment","z":"1fba8fdc.bda63","name":"2 step","info":"","x":610,"y":300,"wires":[]},{"id":"9c770d94.94f69","type":"comment","z":"1fba8fdc.bda63","name":"User changing yourself name","info":"","x":540,"y":400,"wires":[]},{"id":"c5043500.93b7b8","type":"comment","z":"1fba8fdc.bda63","name":"3 step","info":"","x":610,"y":460,"wires":[]},{"id":"8f786a95.1b08f8","type":"comment","z":"1fba8fdc.bda63","name":"User Location Input ","info":"","x":570,"y":620,"wires":[]},{"id":"b79e2576.f9f538","type":"comment","z":"1fba8fdc.bda63","name":"4 step","info":"","x":610,"y":680,"wires":[]},{"id":"b9439787.a5a8d8","type":"mongodb3 in","z":"1fba8fdc.bda63","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"user","operation":"update","x":1690,"y":520,"wires":[["65f318f4.9e7198"]]},{"id":"cdb184be.b23d48","type":"function","z":"1fba8fdc.bda63","name":"Message Input new User name","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n\nmsg.payload = {\n\n    \"text\": \"\\r\\nВведіть нове ім'я та натисніть кнопку\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Підтвердити \" + \" \"+ \"▶\",\n                callback_data: \"/enterCity\"            \n            }]\n            ]\n        },\n        \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":400,"wires":[["855c7ffe.4f732"]]},{"id":"3a4f6d6d.69d262","type":"function","z":"1fba8fdc.bda63","name":"Update User Name at DB","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\n\n\n\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver,\n       'pointer': \"Pointer\"\n    },\n        {\n        \"$set\":{\n            //if (msg.payload.message.text.length < 0)\n            \"name\" : msg.payload\n            //else \"name\": \"Mary\"\n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":520,"wires":[["b9439787.a5a8d8","71ace36b.35a04c"]]},{"id":"eaf26590.d9be08","type":"function","z":"1fba8fdc.bda63","name":"Convert text Object to String","func":"msg.payload = msg.payload.message.text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":520,"wires":[["3a4f6d6d.69d262","d8d4c1ca.49d76"]]},{"id":"71ace36b.35a04c","type":"debug","z":"1fba8fdc.bda63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":460,"wires":[]},{"id":"b32911ff.b918","type":"function","z":"1fba8fdc.bda63","name":"Successful Name Update message ","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Ім'я успішно оновлене\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":680,"wires":[["ad3dd0a8.7d777"]]},{"id":"7dc9a160.3a22d","type":"function","z":"1fba8fdc.bda63","name":"Offer Enter city location","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"З якого Ви міста ?\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":680,"wires":[["46f7cb82.9d8d24"]]},{"id":"ae5d7e73.8b47","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":720,"wires":[[]]},{"id":"ad3dd0a8.7d777","type":"delay","z":"1fba8fdc.bda63","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":680,"wires":[["7dc9a160.3a22d"]]},{"id":"9c15fbe9.258c78","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":1100,"wires":[[]]},{"id":"93d63972.5ae898","type":"comment","z":"1fba8fdc.bda63","name":"Shoose Urer role","info":"","x":580,"y":1040,"wires":[]},{"id":"268ca87.9044c58","type":"comment","z":"1fba8fdc.bda63","name":"5 step","info":"","x":610,"y":1100,"wires":[]},{"id":"c5cecf13.61589","type":"comment","z":"1fba8fdc.bda63","name":"Main Menu","info":"","x":600,"y":1460,"wires":[]},{"id":"a187c2bc.79ba9","type":"comment","z":"1fba8fdc.bda63","name":"6 step","info":"","x":610,"y":1320,"wires":[]},{"id":"fde1e1e5.500c5","type":"comment","z":"1fba8fdc.bda63","name":"Choose Popular Questions from Functionality","info":"","x":490,"y":1260,"wires":[]},{"id":"e0d9f566.594148","type":"comment","z":"1fba8fdc.bda63","name":"7 step","info":"","x":610,"y":1500,"wires":[]},{"id":"91c8456.667d9b8","type":"function","z":"1fba8fdc.bda63","name":"Update User Role /Student","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver },\n        {\n        \"$set\":{\n            \"role\" : msg.payload.callback_query.data\n            \n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1160,"wires":[["ed9db5e4.892848"]]},{"id":"bf4f9020.c0af4","type":"function","z":"1fba8fdc.bda63","name":"Update User Role /Other","func":"var newMsg = {};\nnewMsg.collection = 'user';\nnewMsg.operation  = 'update';\nnewMsg.payload    = [\n    { 'chat_id' : msg.receiver },\n        {\n        \"$set\":{\n            \"role\" : msg.payload.callback_query.data\n            \n        }\n    }\n]\nnewMsg.payload.options = {upsert: true};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1200,"wires":[[]]},{"id":"44b2dab3.1859a4","type":"http request","z":"1fba8fdc.bda63","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1640,"y":160,"wires":[["7d49033c.550f6c"]]},{"id":"7d49033c.550f6c","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":140,"wires":[]},{"id":"bbdc7aee.791198","type":"template","z":"1fba8fdc.bda63","name":"","field":"payload.message.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message.text}}","output":"str","x":1480,"y":920,"wires":[[]]},{"id":"533c80e7.90e53","type":"change","z":"1fba8fdc.bda63","name":"","rules":[{"t":"set","p":"payload.","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":620,"wires":[[]]},{"id":"c6772e6d.10e27","type":"change","z":"1fba8fdc.bda63","name":"Change vars for setup","rules":[{"t":"set","p":"ngrok_url","pt":"msg","to":"https://9cc63f61ecbc.ngrok.io","tot":"str"},{"t":"set","p":"telegram_token","pt":"msg","to":"1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":140,"wires":[["91be46e9.d45268"]]},{"id":"91be46e9.d45268","type":"function","z":"1fba8fdc.bda63","name":"Set telegram webhook","func":"msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/setWebhook?url=${msg.ngrok_url}/UnivercitySecy2_bot`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":200,"wires":[["20f264d4.1be5bc"]]},{"id":"1b72eacb.260165","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2050,"y":700,"wires":[]},{"id":"a2a8ffed.0d0ed","type":"debug","z":"1fba8fdc.bda63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":920,"wires":[]},{"id":"2f81f94.ef3c106","type":"json","z":"1fba8fdc.bda63","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":880,"wires":[[]]},{"id":"d7bdc9ca.e4b668","type":"function","z":"1fba8fdc.bda63","name":"Convert text Object to String","func":"msg.payload = msg.payload.message.text\n//msg.payload = \"Hello World\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":840,"wires":[["f1586edf.43164","eda3663c.997098"]]},{"id":"f3dfe751.9ee8b8","type":"dialogflowv2-token","name":"newagent-dayq"},{"id":"b00c00c3.c74cd","type":"mongodb3","uri":"mongodb://localhost:27017/BA_Intership","name":"BA_Intership","options":"","parallelism":"-1"}]