flows (20).json
[{"id":"6a384cdf.3670b4","type":"tab","label":"Main User FLow","disabled":false,"info":""},{"id":"c4e1ec3b.2615c","type":"tab","label":"Add & Delete Admin Options","disabled":false,"info":""},{"id":"5ab382e1.b0999c","type":"tab","label":"Edit Information at Admin`s Pannel","disabled":false,"info":""},{"id":"955b41c2.775d3","type":"tab","label":"Input User`s Name & Location","disabled":false,"info":""},{"id":"8b3bfd1e.a3b3","type":"tab","label":"Choose User Role","disabled":false,"info":""},{"id":"af0bd524.367f88","type":"tab","label":"Main User`s MENU","disabled":false,"info":""},{"id":"ac4d26ff.dc37c8","type":"tab","label":"Statistic Menu","disabled":false,"info":""},{"id":"7c256b47.25b1f4","type":"tab","label":"DialogFlow","disabled":false,"info":""},{"id":"ac745e15.26ec5","type":"subflow","name":"Send message to the chat","info":"","category":"","in":[{"x":140,"y":80,"wires":[{"id":"8e4dbbbe.ea4758"}]}],"out":[{"x":720,"y":80,"wires":[{"id":"df7d071d.fe7988","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f3dfe751.9ee8b8","type":"dialogflowv2-token","name":"newagent-dayq"},{"id":"a450b03c.46bf9","type":"dialogflowv2-token","name":"Questions"},{"id":"8e4dbbbe.ea4758","type":"change","z":"ac745e15.26ec5","name":"Setting up bot url","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["df7d071d.fe7988"]]},{"id":"df7d071d.fe7988","type":"http request","z":"ac745e15.26ec5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":80,"wires":[[]]},{"id":"3fded9b.f380f26","type":"inject","z":"6a384cdf.3670b4","name":"Start hook setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":180,"y":60,"wires":[["90d87c64.78fb9"]]},{"id":"54642a7b.ef1b84","type":"http request","z":"6a384cdf.3670b4","name":"Send hooks","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/setWebhook?url=https://ca6a9c8f32ce.ngrok.io/UnivercitySecy2_bot","tls":"","persist":false,"proxy":"","authType":"basic","x":150,"y":400,"wires":[[]]},{"id":"b2fe27cb.1c99b8","type":"debug","z":"6a384cdf.3670b4","name":"Show result of setup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":220,"y":320,"wires":[]},{"id":"e46b7a05.fd9e28","type":"http in","z":"6a384cdf.3670b4","name":"","url":"/UnivercitySecy2_bot","method":"post","upload":false,"swaggerDoc":"","x":130,"y":940,"wires":[["aab3f9f8.a26a88","2e55bec1.ebdf32","6f4e37d7.e116e8"]]},{"id":"aab3f9f8.a26a88","type":"debug","z":"6a384cdf.3670b4","name":"Show http request from user","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":880,"wires":[]},{"id":"2e55bec1.ebdf32","type":"http response","z":"6a384cdf.3670b4","name":"Ok 200","statusCode":"200","headers":{},"x":240,"y":1020,"wires":[]},{"id":"6f4e37d7.e116e8","type":"change","z":"6a384cdf.3670b4","name":"Change params:","rules":[{"t":"set","p":"telegram_token","pt":"msg","to":"1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM","tot":"str"},{"t":"set","p":"receiver","pt":"msg","to":"payload.message.from.id","tot":"msg"},{"t":"set","p":"receiver","pt":"msg","to":"payload.message.chat.id","tot":"msg"},{"t":"set","p":"receiver","pt":"msg","to":"payload.callback_query.from.id","tot":"msg"},{"t":"set","p":"first_name","pt":"msg","to":"req.body.callback_query.from.first_name","tot":"msg"},{"t":"set","p":"first_name","pt":"msg","to":"req.body.message.from.first_name","tot":"msg"},{"t":"set","p":"first_name","pt":"msg","to":"payload.message.chat.first_name","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"req.body.callback_query.data","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"req.body.message.text","tot":"msg"},{"t":"set","p":"text","pt":"msg","to":"payload.message.text","tot":"msg"},{"t":"set","p":"find_step","pt":"msg","to":"payload.data[1][0].step","tot":"msg"},{"t":"set","p":"telegramId","pt":"msg","to":"payload.data.telegramId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":940,"wires":[["f900b8cc.dbb0c8"]]},{"id":"83862785.b795d8","type":"switch","z":"6a384cdf.3670b4","name":"NODE User`s MENU","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/continueWithCurrentName","vt":"str"},{"t":"eq","v":"/changeName","vt":"str"},{"t":"eq","v":"/Applicant","vt":"str"},{"t":"eq","v":"/Parents","vt":"str"},{"t":"eq","v":"/Teacher","vt":"str"},{"t":"eq","v":"/Student","vt":"str"},{"t":"eq","v":"/Other","vt":"str"},{"t":"eq","v":"/PopularQA","vt":"str"},{"t":"eq","v":"/AboutCatedra","vt":"str"},{"t":"eq","v":"/Contact","vt":"str"},{"t":"eq","v":"/About_NULP","vt":"str"},{"t":"eq","v":"/MainMenu","vt":"str"},{"t":"eq","v":"/help","vt":"str"},{"t":"eq","v":"/AskPersonalQues","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":1140,"y":980,"wires":[["34b447db.06cb68"],["afd83310.64841"],["c0faa775.3df2a8"],["17d8dc1d.860bd4"],["8e5f0db4.66fc9"],["bba6cf50.c8783"],["5ca1db59.8707e4"],["c6d54ab2.8e0168"],["ee8343c7.4304d"],["9dd53d0e.4a34e"],["b1c27ae5.71e998"],["2da52400.66edcc"],["40d19f5f.e9f33"],["b17d5688.04fe38"]]},{"id":"10b1bdc.85f0742","type":"function","z":"6a384cdf.3670b4","name":"Getting Answer on personal Ques.","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": msg._dialogflow.fulfillmentMessages[0].text.text[0],\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;\n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2300,"y":540,"wires":[["ceec6a0a.d09108","eae71f10.2adad"]]},{"id":"5f04ebbb.b42854","type":"dialogflowv2","z":"6a384cdf.3670b4","dialogflow":"f3dfe751.9ee8b8","language":"uk","debug":true,"queryParamsOK":false,"x":1960,"y":540,"wires":[["a8bbb214.57bf6","10b1bdc.85f0742"]]},{"id":"fdbf3547.641528","type":"function","z":"6a384cdf.3670b4","name":"Ask personal question","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":540,"wires":[["5f04ebbb.b42854","e819cf04.9b562"]]},{"id":"a8bbb214.57bf6","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2030,"y":600,"wires":[]},{"id":"347fb2c3.c1bebe","type":"function","z":"6a384cdf.3670b4","name":"Display main bottom menu","func":"\nmsg.payload = {\n\n    \"text\": \"Дякуємо за довіру !!!\",\n    \"chat_id\": msg.receiver\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":60,"wires":[["4d7941c7.a2c1"]]},{"id":"e819cf04.9b562","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":600,"wires":[]},{"id":"ceec6a0a.d09108","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2590,"y":540,"wires":[["d98e0469.d73f18"]]},{"id":"d98e0469.d73f18","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2690,"y":600,"wires":[]},{"id":"3a40c45b.0b02ac","type":"function","z":"6a384cdf.3670b4","name":"Name option","func":"//msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \" Давайте знайомитись ближче 🤓  \\r\\nЧи можу я до Вас звертатись\" + \" \" +\"*\" + msg.first_name + \"*\" + \" \" + \"?\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Так, звісно\",\n                callback_data: \"/continueWithCurrentName\"            \n            }, \n            {\n                text: \"Я хочу змінити\",\n                callback_data: \"/changeName\"            \n            }]\n            ]\n        },\n        chat_id: msg.receiver,\n\n        \"parse_mode\" : \"Markdown\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2490,"y":60,"wires":[["d4c18c4c.a227f","2cd1f1fa.82cd9e"]]},{"id":"a8be8017.875b9","type":"function","z":"6a384cdf.3670b4","name":"Insert chat_id ","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"telegramName\": msg.req.body.message.chat.username,\n    \"step\": \"EnterName\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3020,"y":60,"wires":[["e6bf3efb.808ef","8ce7610e.0553b"]]},{"id":"59a543f.f42e8bc","type":"debug","z":"6a384cdf.3670b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3430,"y":20,"wires":[]},{"id":"20ae0173.1fbd6e","type":"function","z":"6a384cdf.3670b4","name":"Printing popular QA","func":"//msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n//msg.payload = {\n\n    //\"text\": msg.payload,\n    //\"chat_id\": 688401120,\n    //\"parse_mode\" : \"Markdown\"\n    //}\n    \n//return msg\n \n \nmsg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n\nmsg.payload = {\n    text: msg.payload,\n    message_id: msg.message_id,\n        reply_markup: {\n        inline_keyboard: [[]]\n    },\n    \n\n    chat_id: 688401120\n//    \"parse_mode\" : \"Markdown\"\n}\n\nif (msg.message > 1) {\n    msg.payload.reply_markup.inline_keyboard[0].push({\n                text: \"◀ Назад\",\n                callback_data: \"theMostPopularQPagination_\" + (msg.message - 1)\n            });\n}\n\nif (msg.message < 5) {\n    msg.payload.reply_markup.inline_keyboard[0].push({\n                text: \"Далі ▶\",\n                callback_data: \"theMostPopularQPagination_\" + (msg.message + 1)\n            });\n}\n\nmsg.payload.reply_markup.inline_keyboard.push([{\n        text: \"◀ Головне меню\",\n        callback_data: \"mainMenu\"\n    }]);\n\nif (msg.sendAsASimpleMessage) return [msg, null];\nelse return [null, msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2150,"y":1860,"wires":[[]]},{"id":"976388c2.1b3d58","type":"comment","z":"6a384cdf.3670b4","name":"Flow Greeting & Add User id into DataBase","info":"","x":500,"y":40,"wires":[]},{"id":"2d326b5b.ab7c84","type":"comment","z":"6a384cdf.3670b4","name":"1 step","info":"# ","x":610,"y":80,"wires":[],"icon":"node-red/mongodb.png"},{"id":"9344ae18.badfc","type":"comment","z":"6a384cdf.3670b4","name":"Continuing flow with current User name","info":"","x":510,"y":240,"wires":[]},{"id":"64d52d47.2dbe74","type":"comment","z":"6a384cdf.3670b4","name":"2 step","info":"","x":610,"y":300,"wires":[]},{"id":"7363650a.71d79c","type":"comment","z":"6a384cdf.3670b4","name":"User changing yourself name","info":"","x":540,"y":400,"wires":[]},{"id":"b98f995c.ba2608","type":"comment","z":"6a384cdf.3670b4","name":"3 step","info":"","x":610,"y":460,"wires":[]},{"id":"c7cc6e1a.7a21b","type":"comment","z":"6a384cdf.3670b4","name":"User Location Input ","info":"","x":570,"y":620,"wires":[]},{"id":"91dabddf.a1105","type":"comment","z":"6a384cdf.3670b4","name":"4 step","info":"","x":610,"y":680,"wires":[]},{"id":"aa83b2d3.cd3e5","type":"comment","z":"6a384cdf.3670b4","name":"Shoose Urer role","info":"","x":580,"y":1100,"wires":[]},{"id":"9ddbcfd3.be61e","type":"comment","z":"6a384cdf.3670b4","name":"5 step","info":"","x":610,"y":1140,"wires":[]},{"id":"d714275.44d8ad8","type":"comment","z":"6a384cdf.3670b4","name":"Main Menu","info":"","x":600,"y":1460,"wires":[]},{"id":"7a78abd6.2a6394","type":"comment","z":"6a384cdf.3670b4","name":"6 step","info":"","x":610,"y":1320,"wires":[]},{"id":"ca73037b.2b2f8","type":"comment","z":"6a384cdf.3670b4","name":"Choose Popular Questions from Functionality","info":"","x":490,"y":1260,"wires":[]},{"id":"7ff009a0.7801f8","type":"comment","z":"6a384cdf.3670b4","name":"7 step","info":"","x":610,"y":1500,"wires":[]},{"id":"e6bf3efb.808ef","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3150,"y":20,"wires":[]},{"id":"90d87c64.78fb9","type":"change","z":"6a384cdf.3670b4","name":"Change vars for setup","rules":[{"t":"set","p":"ngrok_url","pt":"msg","to":"https://a3369b0b1929.ngrok.io","tot":"str"},{"t":"set","p":"telegram_token","pt":"msg","to":"1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":140,"wires":[["e25b9928.9765a8"]]},{"id":"e25b9928.9765a8","type":"function","z":"6a384cdf.3670b4","name":"Set telegram webhook","func":"msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/setWebhook?url=${msg.ngrok_url}/UnivercitySecy2_bot`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":200,"wires":[["287a00a9.e2f23"]]},{"id":"f900b8cc.dbb0c8","type":"function","z":"6a384cdf.3670b4","name":"Getting Row","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" + msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":940,"wires":[["e00422eb.a804d","e0a8697b.9a4558"]]},{"id":"ed5e205d.7fcad","type":"function","z":"6a384cdf.3670b4","name":"","func":" msg.payload = {\n    text: msg.message,\n    chat_id: msg.chat_id,\n    message_id: msg.message_id,\n    reply_markup: {\n        inline_keyboard: [[]]\n    },\n}\n\nif (msg.message > 1) {\n    msg.payload.reply_markup.inline_keyboard[0].push({\n                text: \"◀ Назад\",\n                callback_data: \"theMostPopularQPagination_\" + (msg.message - 1)\n            });\n}\n\nif (msg.message < 5) {\n    msg.payload.reply_markup.inline_keyboard[0].push({\n                text: \"Далі ▶\",\n                callback_data: \"theMostPopularQPagination_\" + (msg.message + 1)\n            });\n}\n\nmsg.payload.reply_markup.inline_keyboard.push([{\n        text: \"◀ Головне меню\",\n        callback_data: \"mainMenu\"\n    }]);\n\nif (msg.sendAsASimpleMessage) return [msg, null];\nelse return [null, msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":1960,"wires":[[]]},{"id":"e6fc0762.b07318","type":"function","z":"6a384cdf.3670b4","name":"Contact","func":"msg.method=\"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n    \"title\": \"contacts\",\n    \"text\": '<b>Контакти НУЛП:</b>\\r\\n\\n<b>· </b>Адреса НУЛП: <a href=\"https://goo.gl/maps/6VbhSWjT3CVAuGH87\">вулиця Степана Бандери, 12, Львів</a>\\r\\n<b>· </b>Телефони гарячої лінії → <a href=\"https://lpnu.ua/rektor/telefony-doviry\">веб-сторінка</a>\\r\\n<b>· </b>Питання щодо веб-сайтів університету → <a href=\"https://lpnu.ua/viddil-prvs\">веб-сторінка</a>\\r\\n<b>· </b>Навчально-технічний центр мережевих технологій → <a href=\"https://lpnu.ua/nttsmt\">веб-сторінка</a>\\r\\n<b>· </b>Канцелярія університету → <a href=\"https://lpnu.ua/kantseliariia-universytetu\">веб-сторінка</a>\\r\\n<b>· </b>E-mail: <code>coffice@lpnu.ua\"</code>\\r\\n<b>· </b>Приймальна комісія: тел. <a href=\"tel:+380322582537\">+38 032 258-25-37</a>\\r\\n<b>· </b>Приймальна ректора: тел. <a href=\"tel:+380322582111\">+38 032 258-21-11</a>\\r\\n<b>· </b>Служба доступності до можливостей навчання «Без обмежень» → <a href=\"https://lpnu.ua/nolimits\">веб-сторінка</a>\\r\\n\\n<b>Контакти кафедри ІСМ:</b>\\r\\n\\n<b>· </b>Адреса: <a href=\"https://goo.gl/maps/tGUQ5286wJxaXHKu7\">вул. Митрополита Андрея 5, 4 -й н.к., кім. 122а</a>\\r\\n<b>· </b>E-mail: <code>ism.dept@lpnu.ua</code>\\r\\n· Номер телефону: <a href=\"tel:+380322582638\">(032) 258-26-38</a>\\r\\n<b>· </b>Кафедра інформаційних систем та мереж → <a href=\"http://ism.lpnu.ua/\">веб-сторінка</a>\\r\\n<b>· </b>Кафедра інформаційних систем та мереж → <a href=\"http://wiki.lp.edu.ua/wiki/%D0%9A%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B0_%D1%96%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D0%B8%D1%85_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC_%D1%82%D0%B0_%D0%BC%D0%B5%D1%80%D0%B5%D0%B6\">Wiki-сторінка</a>',\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"HTML\"\n\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1740,"wires":[[]]},{"id":"287a00a9.e2f23","type":"http request","z":"6a384cdf.3670b4","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":260,"wires":[["b2fe27cb.1c99b8"]]},{"id":"47fb96d.085f368","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2190,"y":2780,"wires":[[]]},{"id":"30cfb03a.63704","type":"function","z":"6a384cdf.3670b4","name":"Main Admin Inline MENU","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\n\nmsg.payload = {\n    text: \"Виберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Статистика 🏛\",\n                callback_data: \"/statistic\"            \n            }], \n            [{\n                text: \"Редагування інформації про кафедру 🎓\",\n                callback_data: \"/EditCatedra\"            \n            }],\n            [{\n                text: \"Редагування інформації про НУЛП 🔥\",\n                callback_data: \"/EditNulp\"            \n            }],\n                        [{\n                text: \"Оновити список питань ❓\",\n                callback_data: \"/EditQA\"            \n            }],\n            [{\n                text: \"Масова розсилка 🗳\",\n                callback_data: \"/MassMessaging\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":2780,"wires":[["47fb96d.085f368"]]},{"id":"b2b61c55.1585e","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":2220,"wires":[]},{"id":"1ca76ad8.87bf85","type":"function","z":"6a384cdf.3670b4","name":"Greeting at Admin`s Panel","func":"msg.payload = {\n\n    \"text\": \"Вітаємо Ви у адмін панелі 😎\",\n    //     \"reply_markup\": {\n    //         \"keyboard\": [ \n    //             ['◀️ Головне меню']\n\n    //         ],\n    //         \"resize_keyboard\" : true,\n    //   \"one_time_keyboard\" : true,\n    //   callback_data: \"/admin\" \n\n    // },\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":2780,"wires":[["e051829c.a0f4a","e9ed342a.4d5708"]]},{"id":"e051829c.a0f4a","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":2740,"wires":[[]]},{"id":"e9ed342a.4d5708","type":"delay","z":"6a384cdf.3670b4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":2780,"wires":[["30cfb03a.63704"]]},{"id":"634ba4e6.c55b6c","type":"function","z":"6a384cdf.3670b4","name":"Message Action Notification","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Розсилка успішно здійснена\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3240,"y":3940,"wires":[[]]},{"id":"6ae7bf74.fa553","type":"switch","z":"6a384cdf.3670b4","name":"Admin`s PANNEL","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/super","vt":"str"},{"t":"eq","v":"/UsersType","vt":"str"},{"t":"eq","v":"/MassMessage","vt":"str"},{"t":"eq","v":"/MassMessage_Applicant","vt":"str"},{"t":"eq","v":"/MassMessage_Parents","vt":"str"},{"t":"eq","v":"/MassMessage_Teacher","vt":"str"},{"t":"eq","v":"/MassMessage_Student","vt":"str"},{"t":"eq","v":"/MassMessage_Other","vt":"str"},{"t":"eq","v":"/MessageActionMenu","vt":"str"},{"t":"eq","v":"/AddMessageText2","vt":"str"},{"t":"eq","v":"/EditMassMessage","vt":"str"},{"t":"eq","v":"/EditSecondaryText","vt":"str"},{"t":"eq","v":"/EditUserGroup","vt":"str"},{"t":"eq","v":"/ApproveMassMessage","vt":"str"},{"t":"cont","v":"/MainSuperMenu","vt":"str"},{"t":"eq","v":"/statistic","vt":"str"},{"t":"eq","v":"/EditCatedra","vt":"str"},{"t":"eq","v":"/EditNulp","vt":"str"},{"t":"eq","v":"/EditQA","vt":"str"},{"t":"eq","v":"/PopularAdminQA","vt":"str"},{"t":"eq","v":"/UnansweredQues","vt":"str"},{"t":"eq","v":"/TotalUsers","vt":"str"},{"t":"eq","v":"/UsersType","vt":"str"},{"t":"eq","v":"/AdminsManagement","vt":"str"},{"t":"eq","v":"/AddAdmin","vt":"str"},{"t":"eq","v":"/DeleteAdminMenu","vt":"str"},{"t":"eq","v":"/DeleteAdminButton","vt":"str"},{"t":"eq","v":"/DeleteAdminPermanently","vt":"str"}],"checkall":"true","repair":false,"outputs":28,"x":850,"y":4420,"wires":[["ffab49c3.f4eba8"],[],["d773d494.0ad3f8"],["dfbc2b7b.ad6908"],["e146dff3.9eb3f"],[],["b74dc89e.732378"],["f42d0762.c95a88"],["b9137b96.945708"],["7fe1ee7d.03657"],["497fefc4.6a6bf"],["e479c81a.3a4fe8"],[],["da767edf.2f3a9"],["fa882021.be71d"],["78565f3c.369b5"],["b3117dcb.80e66"],["ac5ff781.316b58"],["458cc0d4.63adc"],["7b8860c9.d97eb"],["585a0461.ddde6c"],["651218e6.3d78f8"],["3ce90022.055b7"],["3e4e224b.fac88e"],["87eddcdf.8efce"],["afe1f6e9.fbae08"],[],[]]},{"id":"ffab49c3.f4eba8","type":"function","z":"6a384cdf.3670b4","name":"Greeting at Super Admin`s Panel","func":"msg.payload = {\n\n    \"text\": \"Вітаємо Ви у адмін панелі 😎\",\n        \"reply_markup\": {\n            \"keyboard\": [ \n                ['◀️ Головне меню']\n\n            ],\n            \"resize_keyboard\" : true,\n      \"one_time_keyboard\" : true,\n      callback_data: \"/MainSuperMenu\" \n\n    },\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":4100,"wires":[["23b0d352.372adc"]]},{"id":"23b0d352.372adc","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":4100,"wires":[["5076db3.342ad24"]]},{"id":"5076db3.342ad24","type":"delay","z":"6a384cdf.3670b4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1940,"y":4100,"wires":[["a0373d14.b0674"]]},{"id":"c37ef54f.786138","type":"function","z":"6a384cdf.3670b4","name":"Admins Management","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Що необхідно зробити ? 😎\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Додати Адміна\",\n                callback_data: \"/AddAdmin\"            \n            }, \n            {\n                text: \"Видалити Адміна\",\n                callback_data: \"/DeleteAdminMenu\"            \n            }] \n        ]\n        },\n        \"chat_id\": 688401120\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":4760,"wires":[[]]},{"id":"67fb183c.6b35a8","type":"function","z":"6a384cdf.3670b4","name":"Choose to Add Admin","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Вкажіть userName\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":4860,"wires":[["4e04a521.d9304c","afcba8ed.7cf118"]]},{"id":"4e04a521.d9304c","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1590,"y":4740,"wires":[[]]},{"id":"593482e2.3d219c","type":"function","z":"6a384cdf.3670b4","name":"Add Action Notification","func":"msg.payload = {\n\n    \"text\": \"✅ Адмін успішно видалений\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":2180,"wires":[["77371ec0.972df"]]},{"id":"77371ec0.972df","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2470,"y":2180,"wires":[[]]},{"id":"222ffe19.36ba42","type":"function","z":"6a384cdf.3670b4","name":"Choose Delete Admin","func":"msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Виберіть необхідного адміна\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":3860,"wires":[[]]},{"id":"406fa71.900fc58","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2030,"y":2540,"wires":[]},{"id":"873ecf52.68855","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":3940,"wires":[]},{"id":"e00422eb.a804d","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":880,"wires":[]},{"id":"d4c18c4c.a227f","type":"debug","z":"6a384cdf.3670b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2410,"y":120,"wires":[]},{"id":"d4b389c1.17c6d8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":900,"wires":[]},{"id":"27670484.175fdc","type":"function","z":"6a384cdf.3670b4","name":"Cheking Row","func":"if (!msg.payload.detail) return [null, msg];\nelse return [msg, null];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":180,"wires":[[]]},{"id":"b333164c.8bd748","type":"switch","z":"6a384cdf.3670b4","name":"emptyPayload","property":"payload.data","propertyType":"msg","rules":[{"t":"null"},{"t":"else"},{"t":"cont","v":"RegistrationComplited","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":920,"y":240,"wires":[["6a8a4334.02db3c"],["f915476f.774808","b592c56e.fdc268","7f8a037a.58469c","72e025e5.17c3cc"],["671fe243.75e48c","1b87e78d.e2a928"]]},{"id":"9eef0175.72f32","type":"delay","z":"6a384cdf.3670b4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":60,"wires":[["347fb2c3.c1bebe"]]},{"id":"addf5e8b.dd1e8","type":"delay","z":"6a384cdf.3670b4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2280,"y":60,"wires":[["3a40c45b.0b02ac"]]},{"id":"fd907ed9.22272","type":"function","z":"6a384cdf.3670b4","name":"check password","func":"msg.url = \"http://localhost:8000\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token AAE0HhAK0QTOWpu3dMrW8HCHe9ZijkojWeQ\"\n};\nmsg.payload = {\n    \"user_telegram_id\": msg.chat_id,\n    \"password\": msg.message\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":660,"wires":[[]]},{"id":"6a8a4334.02db3c","type":"switch","z":"6a384cdf.3670b4","name":"/start","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":60,"wires":[["9eef0175.72f32"]]},{"id":"e0a8697b.9a4558","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://intern-task-winter.herokuapp.com/users/688401120","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":940,"wires":[["d4b389c1.17c6d8","b333164c.8bd748","2c23a392.eea80c","83862785.b795d8","163513d8.f5981c"]]},{"id":"8ce7610e.0553b","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3270,"y":60,"wires":[["59a543f.f42e8bc"]]},{"id":"4d7941c7.a2c1","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","env":[],"x":2030,"y":60,"wires":[["addf5e8b.dd1e8"]]},{"id":"2cd1f1fa.82cd9e","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":2750,"y":60,"wires":[["a8be8017.875b9"]]},{"id":"d934a045.78509","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2210,"y":3840,"wires":[]},{"id":"d46c6b38.120dc8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":3860,"wires":[]},{"id":"eae71f10.2adad","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2290,"y":600,"wires":[]},{"id":"2c23a392.eea80c","type":"switch","z":"6a384cdf.3670b4","name":"Admins Check","property":"payload.data.roleId","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":740,"y":2400,"wires":[["295853a5.cdf90c"],["6ae7bf74.fa553","b660d465.4b46c8","68bc7985.5e7dd8","f2006222.88b34","27dbd071.038a9","2fb40912.a997d6","fdd0c2e.d7f334"],[]]},{"id":"4f593f95.e172d","type":"function","z":"6a384cdf.3670b4","name":"Notification You Are not Admin","func":"msg.payload = {\n\n    \"text\": \"*Вхід за цим посиланням заборонено* ⛔️ \\r\\nВи не адмін. Права надаються адміністрацією кафедри\\r\\n Пропонуємо скористуватись Головним Меню 🔽\",\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"Markdown\"\n    }\n\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1960,"wires":[["8550648b.aa0e68"]]},{"id":"8550648b.aa0e68","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1270,"y":1960,"wires":[["19bf551e.7a18db"]]},{"id":"19bf551e.7a18db","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":1960,"wires":[]},{"id":"266b2877.727c28","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":2120,"wires":[]},{"id":"68bc7985.5e7dd8","type":"switch","z":"6a384cdf.3670b4","name":"Add New Admin Step","property":"payload.data.step","propertyType":"msg","rules":[{"t":"eq","v":"FindUser","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":2080,"wires":[["266b2877.727c28","7949d895.7e9e78"]]},{"id":"afcba8ed.7cf118","type":"function","z":"6a384cdf.3670b4","name":"Check Name at User Row / Zero Step","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n //   \"telegramId\": msg.receiver,\n            \"step\": \"FindUser\",\n            \"pointer\": \"FindUser\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1650,"y":4820,"wires":[["7b60ef70.5da68"]]},{"id":"7b60ef70.5da68","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1870,"y":4860,"wires":[[]]},{"id":"7949d895.7e9e78","type":"function","z":"6a384cdf.3670b4","name":"Input UserName","func":"msg.payload = msg.text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2080,"wires":[["84b763a1.e4892"]]},{"id":"84b763a1.e4892","type":"function","z":"6a384cdf.3670b4","name":"Printing Message","func":"msg.payload = {\n\n    text: msg.payload,\n    chat_id : msg.receiver,\n    \n    \n    }\n\n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":2080,"wires":[["b22544a9.369878","806e9e2a.667d2"]]},{"id":"7b694b5c.d96a74","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2290,"y":2120,"wires":[]},{"id":"b22544a9.369878","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":2120,"wires":[]},{"id":"806e9e2a.667d2","type":"function","z":"6a384cdf.3670b4","name":"Get UserName from DB","func":"msg.conector = \"FindUser\"\nmsg.url = \"https://intern-task-winter.herokuapp.com/users/telegram_name/\" + msg.payload.text;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1950,"y":2080,"wires":[["cc300470.1feb58","2ef586e0.2c6faa"]]},{"id":"cc300470.1feb58","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2230,"y":2080,"wires":[["7b694b5c.d96a74","8e163c9d.b4107"]]},{"id":"2ef586e0.2c6faa","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2050,"y":2120,"wires":[]},{"id":"d0fa7f3e.d98ce","type":"function","z":"6a384cdf.3670b4","name":"Update User Role on Admin 1","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/admins/\" +msg.payload;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n\n            \"roleId\": 1,\n            \"step\": \"CurrentAdmin\",\n            \"pointer\": \"CurrentAdmin\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2870,"y":2080,"wires":[["216dd51c.7900ca","5192817a.710f2"]]},{"id":"216dd51c.7900ca","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3210,"y":2080,"wires":[["5859913c.d8673","8cff469d.387548"]]},{"id":"5859913c.d8673","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3270,"y":2140,"wires":[]},{"id":"32f47c87.8be154","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2610,"y":2120,"wires":[]},{"id":"5192817a.710f2","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2970,"y":2120,"wires":[]},{"id":"8e163c9d.b4107","type":"function","z":"6a384cdf.3670b4","name":"Convert telegramId to string","func":"msg.payload = msg.payload.data[0].telegramId\n//msg.payload = msg.telegramIdAdd\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2521,"y":2080,"wires":[["32f47c87.8be154","d0fa7f3e.d98ce"]]},{"id":"d773d494.0ad3f8","type":"function","z":"6a384cdf.3670b4","name":"Mass Message Menu","func":"\nmsg.payload = {\n    text: \"Виберіть категорію користувачів\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Абітурієнти 🏛\",\n                callback_data: \"/MassMessage_Applicant\"            \n            }], \n            [{\n                text: \"Батьки 🎓\",\n                callback_data: \"/MassMessage_Parents\"            \n            }],\n            [{\n                text: \"Викладачі 🔥\",\n                callback_data: \"/MassMessage_Teacher\"            \n            }],\n                        [{\n                text: \"Студенти 🗳\",\n                callback_data: \"/MassMessage_Student\"            \n            }],\n            [{\n                text: \"Інше 🗳\",\n                callback_data: \"/MassMessage_Other\"            \n            }],\n                        [{\n                text: \"◀️ Назад\",\n                callback_data: \"/MessageActionMenu\"            \n            }]\n        ]\n        \n    },\n   \n    chat_id: msg.receiver\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":3520,"wires":[["5a14efbb.5395c"]]},{"id":"5a14efbb.5395c","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1590,"y":3520,"wires":[["3febcf3f.8c4d1"]]},{"id":"27dbd071.038a9","type":"switch","z":"6a384cdf.3670b4","name":"Return click on Admin Delete Button ","property":"req.body.callback_query.data","propertyType":"msg","rules":[{"t":"cont","v":"/MassMessage_","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":2260,"wires":[["e5040d51.62b82","f1237dbd.76457"]]},{"id":"6c40794e.e56c48","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2790,"y":2540,"wires":[]},{"id":"56443c72.01d5b4","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.payload = Number(msg.message.split('_')[1]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":2180,"wires":[["8bc3357.47f20c8","b2b61c55.1585e"]]},{"id":"c0b80823.7c5d88","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2070,"y":2220,"wires":[]},{"id":"8bc3357.47f20c8","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/admins/remove/\" + msg.payload;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n    \"roleId\": 0,\n    \"step\": \"RegistrationComplited\",\n    \"pointer\": \"RegistrationComplited\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":2180,"wires":[["c1a68dde.f6098","50b9fcb4.cc09d4"]]},{"id":"c1a68dde.f6098","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1990,"y":2180,"wires":[["c0b80823.7c5d88","593482e2.3d219c"]]},{"id":"50b9fcb4.cc09d4","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":2220,"wires":[]},{"id":"b74dc89e.732378","type":"function","z":"6a384cdf.3670b4","name":"Get Array Student","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/type/student\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": \"688401120\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":3700,"wires":[["953e130c.8de41"]]},{"id":"953e130c.8de41","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":3700,"wires":[["14c18e45.2181a2"]]},{"id":"e79ff39f.84852","type":"function","z":"6a384cdf.3670b4","name":"Get Array Teacher","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/type/teacher\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": \"688401120\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":3660,"wires":[["329a5572.f447da"]]},{"id":"329a5572.f447da","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":3660,"wires":[["3521247f.c626ec"]]},{"id":"f8004c17.fed0b","type":"function","z":"6a384cdf.3670b4","name":"Get Arrow Parents","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/type/parents\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": \"688401120\"\n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":3620,"wires":[["b40ef2cf.be0e2"]]},{"id":"b40ef2cf.be0e2","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":3620,"wires":[["7959efea.1f442"]]},{"id":"dfbc2b7b.ad6908","type":"function","z":"6a384cdf.3670b4","name":"Get Array Applicant","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/type/applicant\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": \"688401120\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":3580,"wires":[["e8f8247b.e825b8"]]},{"id":"e8f8247b.e825b8","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":3580,"wires":[["d8afad06.b9a3b"]]},{"id":"f42d0762.c95a88","type":"function","z":"6a384cdf.3670b4","name":"Get Array Other","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/type/other\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": \"688401120\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":3740,"wires":[["b5f0d2d.528fb3"]]},{"id":"b5f0d2d.528fb3","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":3740,"wires":[["456aa23e.30cdfc"]]},{"id":"3febcf3f.8c4d1","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":3520,"wires":[]},{"id":"b9137b96.945708","type":"function","z":"6a384cdf.3670b4","name":"Edit Mas Message MENU","func":"\nmsg.payload = {\n\n    \"text\": \"Хочете додати ще одну категорію ? 😎\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Так\",\n                callback_data: \"/MassMessage\"            \n            }, \n            {\n                text: \"Ні\",\n                callback_data: \"/AddMessageText2\"\n            }],\n            [{\n                text: \"Головне меню\",\n                callback_data: \"/MainSuperMenu\"\n            }\n            ]]\n        },\n        \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":3820,"wires":[["e481c119.02f28"]]},{"id":"e481c119.02f28","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":3820,"wires":[[]]},{"id":"7fe1ee7d.03657","type":"function","z":"6a384cdf.3670b4","name":"Request Input Mass Message Text","func":"msg.payload = {\n\n    \"text\": \"Вкажіть необхідний для розсилки текст\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":3860,"wires":[["c9cf851c.04be18"]]},{"id":"c9cf851c.04be18","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":3860,"wires":[[]]},{"id":"ab955d1e.2bc43","type":"function","z":"6a384cdf.3670b4","name":"Paste All Users Category at single msg","func":"//var msg = '';\n\nconst array1 = [6884011200];\n\nconst array2 = msg.payload.parents;\nconst array3 = msg.payload.applicant;\nconst array4 = msg.payload.teacher;\nconst array5 = msg.payload.student;\nconst array6 = msg.payload.other;\nconst array = array1.concat(array2, array3, array4, array5, array6);\n//node.warn(array);\n\nmsg.payload.user = array;\n//node.warn(JSON.parse(array));\n//[Symbol.isConcatSpreadable]: true,\n\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3190,"y":3820,"wires":[["b53c1f0f.21e78"]]},{"id":"8dd96f04.d2c1a","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2230,"y":3520,"wires":[]},{"id":"b53c1f0f.21e78","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3250,"y":3880,"wires":[]},{"id":"e089720a.d4864","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":3790,"y":3600,"wires":[["2024cd7d.d8faf2"]]},{"id":"d8afad06.b9a3b","type":"change","z":"6a384cdf.3670b4","name":"","rules":[{"t":"set","p":"payload.applicant","pt":"msg","to":"payload.data.telegramId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":3580,"wires":[["8dd96f04.d2c1a"]]},{"id":"7959efea.1f442","type":"change","z":"6a384cdf.3670b4","name":"","rules":[{"t":"set","p":"payload.parents","pt":"msg","to":"payload.data.telegramId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":3620,"wires":[["8ead2025.beb14","cd1afb4e.6499b8","a5031046.8278c"]]},{"id":"2024cd7d.d8faf2","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4010,"y":3600,"wires":[]},{"id":"a5031046.8278c","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":3600,"wires":[]},{"id":"8eb2d54c.777738","type":"function","z":"6a384cdf.3670b4","name":"Request Enter Mas Message Text","func":"msg.payload = {\n\n    \"text\": \"Вкажіть необхідний для розсилки текст\",\n    \"chat_id\": msg.receiver\n    }\n\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3480,"y":3600,"wires":[["e089720a.d4864"]]},{"id":"83f57506.b84f58","type":"function","z":"6a384cdf.3670b4","name":"Update Step Send Message","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": msg.payload.user,\n            \"pointer\": \"SendMessage\"\n\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3080,"y":3720,"wires":[["5e9a58c1.e4a3d8","f15ce6b6.c14f78"]]},{"id":"f15ce6b6.c14f78","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3170,"y":3600,"wires":[["83d4e9aa.e164d8","8eb2d54c.777738"]]},{"id":"b660d465.4b46c8","type":"switch","z":"6a384cdf.3670b4","name":"Send Mass Message Step","property":"payload.data.pointer","propertyType":"msg","rules":[{"t":"eq","v":"SendMessage","vt":"str"},{"t":"eq","v":"SecondaryEditMessage","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2660,"wires":[["587d272d.3b4168","342816e8.01673a"],[]]},{"id":"83d4e9aa.e164d8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3230,"y":3540,"wires":[]},{"id":"5e9a58c1.e4a3d8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2990,"y":3540,"wires":[]},{"id":"587d272d.3b4168","type":"function","z":"6a384cdf.3670b4","name":"Enter Message & SEND Yes/No MENU","func":"msg.payload = {\n    text: \"Категорія користувачів:\\r\\n  \\r\\n\" +\"*Повідомлення:*\\r\\n \\r\\n\"+ msg.text+\"\\r\\n  \\r\\n*📣Надіслати повідомлення обраним користувачам ❓*\\r\\n  \\r\\n\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Ні, повернутися до редагування🖌\",\n                callback_data: \"/EditMassMessage\"            \n            }], \n            [{\n                text: \"Так, продовжити 📩\",\n                callback_data: \"/ApproveMassMessage\"            \n            }],\n            [{\n                text: \"Повністю скасувати розсилку ❌\",\n                callback_data: \"/super\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver,\n    \"step\": \"SendMessage\",\n    \"parse_mode\" : \"Markdown\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":2640,"wires":[["7c5cfa23.65e314","d40dc1ce.ebc7e"]]},{"id":"7c5cfa23.65e314","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1710,"y":2640,"wires":[["65379f52.94ee6","e7180919.8cf878"]]},{"id":"342816e8.01673a","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":2600,"wires":[]},{"id":"d40dc1ce.ebc7e","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":2580,"wires":[]},{"id":"65379f52.94ee6","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":2600,"wires":[]},{"id":"f81445d.3857db8","type":"function","z":"6a384cdf.3670b4","name":"Edit Mass Message Menu","func":"msg.payload = {\n    text: \"Що необхідно відредагувати ?\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Категорію користувачів 🧑\",\n                callback_data: \"/EditUserGroup\"            \n            },{\n                text: \"Текст повідомлення 📝\",\n                callback_data: \"/EditSecondaryText\"            \n            }], \n            [{\n                text: \"І те і інше ✅\",\n                callback_data: \"/MassMessage\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver,\n    \"step\": \"SendMessage\",\n    \"parse_mode\" : \"Markdown\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1750,"y":3900,"wires":[["572ebf7d.68af6"]]},{"id":"572ebf7d.68af6","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":2030,"y":3900,"wires":[["3cfd5f7b.16bcd"]]},{"id":"497fefc4.6a6bf","type":"function","z":"6a384cdf.3670b4","name":"Update Step Edit Mass Message","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": \"EditMessage\",\n            \"pointer\": \"EditMessage\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":3900,"wires":[["f81445d.3857db8"]]},{"id":"3cfd5f7b.16bcd","type":"function","z":"6a384cdf.3670b4","name":"Update Step Secondary Edit","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": \"SecondaryEditMessage\",\n            \"pointer\": \"SecondaryEditGroup\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":3900,"wires":[["752c0cb9.f3c9e4"]]},{"id":"752c0cb9.f3c9e4","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2670,"y":3900,"wires":[[]]},{"id":"e479c81a.3a4fe8","type":"function","z":"6a384cdf.3670b4","name":"Input Secondary Mas Message Text","func":"msg.payload = {\n\n    \"text\": \"Вкажіть текст повідомлення\",\n    \"chat_id\": msg.receiver\n    }\n\n \n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":3940,"wires":[["26cafc0d.4bf234"]]},{"id":"26cafc0d.4bf234","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1750,"y":3940,"wires":[[]]},{"id":"4b07accd.a31664","type":"function","z":"6a384cdf.3670b4","name":"Approve Mass Message Permanently","func":"msg.payload = {\n\n    \"text\": \"Розсилка успішно здійснена! ✅\",\n    \"chat_id\": msg.receiver\n    }\n\n \n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2270,"y":4300,"wires":[[]]},{"id":"61bacf00.e128a","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":2130,"y":3980,"wires":[["4f3e6e6f.31865"]]},{"id":"c9bedc1a.7d7a6","type":"function","z":"6a384cdf.3670b4","name":"Arrow function Example","func":"function myFunction() {\n  var hege = [\"2345\", \"65223\"];\n  var stale = [\"686992\", \"7865\", \"599522\"];\n  var children = hege.concat(stale); \n  msg.payload = children;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2950,"y":3940,"wires":[[]]},{"id":"3521247f.c626ec","type":"change","z":"6a384cdf.3670b4","name":"","rules":[{"t":"set","p":"payload.teacher","pt":"msg","to":"payload.data.telegramId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":3660,"wires":[[]]},{"id":"14c18e45.2181a2","type":"change","z":"6a384cdf.3670b4","name":"","rules":[{"t":"set","p":"payload.student","pt":"msg","to":"payload.data.telegramId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":3700,"wires":[["bafdf465.ab3688","d46c6b38.120dc8"]]},{"id":"456aa23e.30cdfc","type":"change","z":"6a384cdf.3670b4","name":"","rules":[{"t":"set","p":"payload.other","pt":"msg","to":"payload.data.telegramId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":3740,"wires":[["f394f668.854718","7cdd4d6a.fea544"]]},{"id":"bafdf465.ab3688","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.payload = {\n\n    \"student\": msg.payload.student,\n //   \"chat_id\": msg.receiver\n    }\n\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":3720,"wires":[["e054793e.0c8828"]]},{"id":"8ead2025.beb14","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1950,"y":3500,"wires":[]},{"id":"75abe1b5.4935d","type":"function","z":"6a384cdf.3670b4","name":"","func":"var apiResponse = [1,2,3,5,null,null,null,\"688481177\",\"688401120\"];\n//var apiResponse = msg.payload.data;\nnode.warn(msg.payload.user);\n\n//distribution message\nmsg.payload = {\n  //  \"text\": \"Send Message\",\n  \"text\": msg.payload.data[1][0].pointer,\n //   \"text\": msg.req.body.message.text,\n    \"chat_id\":msg.payload.chat_id\n}\n\n\n//sending distribution message for selected groups of users\nfor (var i = 0; i < apiResponse.length; i++) {\n    msg.payload.chat_id = apiResponse[i];\n        \n    node.send(msg);\n}\n\n\n//message about successful distribution(for admin)\nmsg.payload = {\n    \"text\": \"Назад в головне меню\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n     \"chat_id\": msg.payload.chat_id\n     \n    //  \"chat_id\": 688401120\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":3980,"wires":[["61bacf00.e128a","873ecf52.68855"]]},{"id":"4f3e6e6f.31865","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2390,"y":3980,"wires":[]},{"id":"da767edf.2f3a9","type":"function","z":"6a384cdf.3670b4","name":"Update Approve Message","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": \"ApproveSendMessage\",\n //           \"pointer\": \"ApproveSendMessage\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":3980,"wires":[["8f2bd0df.af9df"]]},{"id":"8f2bd0df.af9df","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":3980,"wires":[["75abe1b5.4935d"]]},{"id":"e7180919.8cf878","type":"function","z":"6a384cdf.3670b4","name":"Text transmission to Mass Message","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n            \"step\": msg.payload,\n            \"pointer\": msg.text\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":2640,"wires":[["61f2a67b.038ed8","fe80cd3c.b2004"]]},{"id":"61f2a67b.038ed8","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2370,"y":2640,"wires":[["80dc043c.bc4098"]]},{"id":"80dc043c.bc4098","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2630,"y":2640,"wires":[]},{"id":"fe80cd3c.b2004","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":2600,"wires":[]},{"id":"5b62b0a.ef4ae5","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":2480,"wires":[]},{"id":"f0e404bd.ac9ba8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":2560,"wires":[]},{"id":"a0373d14.b0674","type":"function","z":"6a384cdf.3670b4","name":"Main Action Menu for Super Admin","func":"msg.payload = {\n    text: \"Для подальшої роботи оберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Статистика 🏛\",\n                callback_data: \"/statistic\"            \n            }], \n            [{\n                text: \"Редагування інформації про кафедру 🎓\",\n                callback_data: \"/EditCatedra\"            \n            }],\n            [{\n                text: \"Редагування інформації про НУЛП 🔥\",\n                callback_data: \"/EditNulp\"            \n            }],\n                        [{\n                text: \"Оновити список питань 🗳\",\n                callback_data: \"/EditQA\"            \n            }],\n                                    [{\n                text: \"Масова розсилка 🗳\",\n                callback_data: \"/MassMessage\"            \n            }],\n            [{\n                text: \"Менеджмент адмінів 🗳\",\n                callback_data: \"/AdminsManagement\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":4100,"wires":[["2b7784dd.6aa7ec"]]},{"id":"2b7784dd.6aa7ec","type":"http request","z":"6a384cdf.3670b4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2530,"y":4100,"wires":[[]]},{"id":"2f158809.ab4658","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1910,"y":2480,"wires":[["406fa71.900fc58","f491ee65.ac9ac"]]},{"id":"8cff469d.387548","type":"function","z":"6a384cdf.3670b4","name":"Add Action Notification","func":"msg.payload = {\n\n    \"text\": \"✅ Адмін успішно доданий\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3480,"y":2080,"wires":[["ce1f943d.5f4ed8"]]},{"id":"78565f3c.369b5","type":"link out","z":"6a384cdf.3670b4","name":"","links":["35b5b6a.35a8a4a"],"x":1315,"y":4160,"wires":[]},{"id":"b3117dcb.80e66","type":"link out","z":"6a384cdf.3670b4","name":"","links":["748195aa.2e011c"],"x":1315,"y":4240,"wires":[]},{"id":"ac5ff781.316b58","type":"link out","z":"6a384cdf.3670b4","name":"","links":["95c88905.eac1b8"],"x":1315,"y":4320,"wires":[]},{"id":"458cc0d4.63adc","type":"link out","z":"6a384cdf.3670b4","name":"","links":["d95bf763.3ed038"],"x":1315,"y":4400,"wires":[]},{"id":"e2142a3c.5fb358","type":"function","z":"ac4d26ff.dc37c8","name":"Popular Admin`s Ques","func":"msg.url = \"https://intern-task-winter.herokuapp.com/admin/popular\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["3ec984b8.8cb1cc"]]},{"id":"60cd2f93.4c5b8","type":"link in","z":"ac4d26ff.dc37c8","name":"","links":["7b8860c9.d97eb"],"x":235,"y":100,"wires":[["e2142a3c.5fb358"]]},{"id":"3ec984b8.8cb1cc","type":"http request","z":"ac4d26ff.dc37c8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":100,"wires":[["73625bac.0da6d4"]]},{"id":"73625bac.0da6d4","type":"change","z":"ac4d26ff.dc37c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.question","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":100,"wires":[["b920bf54.262f9"]]},{"id":"b920bf54.262f9","type":"split","z":"ac4d26ff.dc37c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1120,"y":100,"wires":[["229cf342.3f825c"]]},{"id":"229cf342.3f825c","type":"function","z":"ac4d26ff.dc37c8","name":"Sending Information to the chat","func":"msg.payload = {\n\n    text:  msg.payload,\n    chat_id : msg.receiver\n    \n}\n  return [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":100,"wires":[["2578635f.9d3bdc"]]},{"id":"2578635f.9d3bdc","type":"subflow:ac745e15.26ec5","z":"ac4d26ff.dc37c8","name":"","x":1710,"y":100,"wires":[[]]},{"id":"aac5f243.cbb19","type":"function","z":"ac4d26ff.dc37c8","name":"Unanswered Ques","func":"msg.url = \"https://intern-task-winter.herokuapp.com/info/unanswered\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":160,"wires":[["9d22e9a8.46a9c8"]]},{"id":"fcb42da4.c9433","type":"link in","z":"ac4d26ff.dc37c8","name":"","links":["b3dc631.8ec40a","585a0461.ddde6c"],"x":235,"y":160,"wires":[["aac5f243.cbb19"]]},{"id":"9d22e9a8.46a9c8","type":"http request","z":"ac4d26ff.dc37c8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":160,"wires":[["aa77e72b.06e5b8"]]},{"id":"aa77e72b.06e5b8","type":"change","z":"ac4d26ff.dc37c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.question","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[["45b457e3.943d28"]]},{"id":"45b457e3.943d28","type":"split","z":"ac4d26ff.dc37c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1130,"y":160,"wires":[["4b85d031.43c42"]]},{"id":"4b85d031.43c42","type":"function","z":"ac4d26ff.dc37c8","name":"Sending Information to the chat","func":"msg.payload = {\n\n    text:  msg.payload,\n    chat_id : msg.receiver,\n    parse_mode : \"Markdown\",\n    \n    \n    }\n  return [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":160,"wires":[["f35a4172.dcb85"]]},{"id":"f35a4172.dcb85","type":"subflow:ac745e15.26ec5","z":"ac4d26ff.dc37c8","name":"","x":1710,"y":160,"wires":[[]]},{"id":"11defd5a.138053","type":"function","z":"ac4d26ff.dc37c8","name":"Total Users","func":"msg.url = \"https://intern-task-winter.herokuapp.com/admin/count\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":220,"wires":[["94abc1f.b09d44"]]},{"id":"e7464ee9.7f12d","type":"link in","z":"ac4d26ff.dc37c8","name":"","links":["ad24493e.cc2df8","651218e6.3d78f8"],"x":235,"y":220,"wires":[["11defd5a.138053"]]},{"id":"94abc1f.b09d44","type":"http request","z":"ac4d26ff.dc37c8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":220,"wires":[["5dc7dfe2.151c"]]},{"id":"5dc7dfe2.151c","type":"change","z":"ac4d26ff.dc37c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[["39c1bd0.228f244"]]},{"id":"39c1bd0.228f244","type":"function","z":"ac4d26ff.dc37c8","name":"Add User Count to chat","func":"msg.payload = {\n\n    text: \"📈 Загальна кількість користувачів становить:\"+\" \"+msg.payload,\n    chat_id : msg.receiver\n    \n}\n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":220,"wires":[["f934797a.2db3e8"]]},{"id":"f934797a.2db3e8","type":"subflow:ac745e15.26ec5","z":"ac4d26ff.dc37c8","name":"","x":1530,"y":220,"wires":[[]]},{"id":"f0561de.c426ae","type":"function","z":"ac4d26ff.dc37c8","name":"Users by Type","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/admins/countByTypes\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["84afe436.75d6a8"]]},{"id":"81318.5cdb6ce88","type":"link in","z":"ac4d26ff.dc37c8","name":"","links":["b1c02f01.fd55c","3ce90022.055b7"],"x":235,"y":280,"wires":[["f0561de.c426ae"]]},{"id":"84afe436.75d6a8","type":"http request","z":"ac4d26ff.dc37c8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":280,"wires":[["e9494d35.657b7"]]},{"id":"e9494d35.657b7","type":"function","z":"ac4d26ff.dc37c8","name":"User Dashboard Stat","func":"msg.payload = {\n\n    \"text\": \"*Кількість користувачів у категоріях:* \\r\\n \\r\\n✔️ Абітурієнтів:\" +\" \"+msg.payload.data.applicant + \" \\r\\n✔️ Студентів:\"+\" \"+msg.payload.data.student + \" \\r\\n✔️ Батьків:\"+\" \"+msg.payload.data.parents +\" \\r\\n✔️ Викладачів:\"+\" \"+msg.payload.data.teacher+\" \\r\\n✔️ Інші:\"+\" \"+msg.payload.data.other,\n    \n    chat_id : msg.receiver,\n    parse_mode : \"Markdown\"\n    \n}\n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[["b0bbd626.062698"]]},{"id":"b0bbd626.062698","type":"subflow:ac745e15.26ec5","z":"ac4d26ff.dc37c8","name":"","x":1230,"y":280,"wires":[[]]},{"id":"7b8860c9.d97eb","type":"link out","z":"6a384cdf.3670b4","name":"","links":["60cd2f93.4c5b8"],"x":1315,"y":4480,"wires":[]},{"id":"585a0461.ddde6c","type":"link out","z":"6a384cdf.3670b4","name":"","links":["fcb42da4.c9433"],"x":1315,"y":4560,"wires":[]},{"id":"651218e6.3d78f8","type":"link out","z":"6a384cdf.3670b4","name":"","links":["e7464ee9.7f12d"],"x":1315,"y":4620,"wires":[]},{"id":"3ce90022.055b7","type":"link out","z":"6a384cdf.3670b4","name":"","links":["81318.5cdb6ce88"],"x":1315,"y":4700,"wires":[]},{"id":"1cf09ad8.8dff15","type":"comment","z":"6a384cdf.3670b4","name":"Stat MENU","info":"","x":1440,"y":4200,"wires":[]},{"id":"4e39608f.9d308","type":"comment","z":"6a384cdf.3670b4","name":"Edit Faculty","info":"","x":1450,"y":4280,"wires":[]},{"id":"df805f08.2b305","type":"comment","z":"6a384cdf.3670b4","name":"Edit Nulp","info":"","x":1440,"y":4360,"wires":[]},{"id":"367f8b50.5778b4","type":"comment","z":"6a384cdf.3670b4","name":"Add New Ques","info":"","x":1460,"y":4440,"wires":[]},{"id":"23773b2b.2d7034","type":"comment","z":"6a384cdf.3670b4","name":"Popular Admin`s Ques","info":"","x":1480,"y":4520,"wires":[]},{"id":"8a058853.1aee88","type":"comment","z":"6a384cdf.3670b4","name":"Unanswered Ques","info":"","x":1470,"y":4580,"wires":[]},{"id":"65db2799.eda5c8","type":"comment","z":"6a384cdf.3670b4","name":"Total Users","info":"","x":1440,"y":4660,"wires":[]},{"id":"12fcb620.87c8ca","type":"function","z":"6a384cdf.3670b4","name":"Update Zero Step","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": \"CurrentAdminMenu\",\n            \"pointer\": \"CurrentAdminMenu\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":4040,"wires":[["dcbba169.07a72"]]},{"id":"dcbba169.07a72","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2190,"y":4040,"wires":[[]]},{"id":"f491ee65.ac9ac","type":"function","z":"6a384cdf.3670b4","name":"Update Zero Step Current Admin","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text,\n \"pointer\": \"CurrentAdmin\",\n \"step\": \"CurrentAdmin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":2480,"wires":[["3f57198e.e9a4d6"]]},{"id":"fa882021.be71d","type":"function","z":"6a384cdf.3670b4","name":"Undo to Main MENU","func":"msg.payload = {\n\n    text: \"Повернутись у головне меню\",\n    chat_id : msg.receiver,\n    parse_mode : \"Markdown\",\n    \n    \n    }\n\n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":4040,"wires":[["529a5858.ae5cb8"]]},{"id":"529a5858.ae5cb8","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1710,"y":4040,"wires":[["12fcb620.87c8ca"]]},{"id":"3f57198e.e9a4d6","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2530,"y":2500,"wires":[[]]},{"id":"295853a5.cdf90c","type":"switch","z":"6a384cdf.3670b4","name":"/super","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/super","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":2080,"wires":[["4f593f95.e172d"]]},{"id":"7a1d8d41.dc3764","type":"function","z":"6a384cdf.3670b4","name":"Ask Personal Ques Step / Pointer","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text,\n \"pointer\": \"AskPersonalQues\",\n \"step\": \"AskPersonalQues\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1780,"wires":[["8fda0417.5bdc38"]]},{"id":"8fda0417.5bdc38","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2290,"y":1780,"wires":[["7d8c97a3.9804c8"]]},{"id":"bb90353b.6347f8","type":"function","z":"6a384cdf.3670b4","name":"Ask Personal Ques. at DialogFlow","func":"msg.payload = {\n\n    \"text\": \"Напишіть питання які Вас цікавлять 🖌\",\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"Markdown\"\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":1840,"wires":[["5fff10dc.420a"]]},{"id":"5fff10dc.420a","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":1670,"y":1780,"wires":[["7a1d8d41.dc3764"]]},{"id":"7d8c97a3.9804c8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2510,"y":1780,"wires":[]},{"id":"cb8c6a2b.e0f6d8","type":"function","z":"6a384cdf.3670b4","name":"Activate Pointer for Display About Bot Menu","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n \"pointer\": \"DisplayAboutBotMenu\",\n \"step\": \"DisplayAboutBotMenu\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":2000,"wires":[[]]},{"id":"fcdb06.dd4044f8","type":"function","z":"af0bd524.367f88","name":"Main Menu Complited Registered User","func":"msg.payload = {\n    text: \"💤 *Головне Меню:*\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Про НУЛП 🏛\",\n                callback_data: \"/About_NULP\"            \n            }, \n            {\n                text: \"Про кафедру ІСМ 🎓\",\n                callback_data: \"/AboutCatedra\"            \n            }],\n            [{\n                text: \"Найпопулярніші питання 🔥\",\n                callback_data: \"/PopularQA\"            \n            }],\n            [{\n                text: \"️Задати власне запитання 🖌\",\n                callback_data: \"/AskPersonalQues\"            \n            }],\n            [{\n                text: \"️Контакти кафедри та університету 🗳\",\n                callback_data: \"/Contact\"            \n            },{\n                text: \" Адміністрація ⚙\",\n                callback_data: \"/super\"            \n            }\n            ],\n            [{\n                text: \"️Як користуватися ботом ❓\",\n                callback_data: \"/help\"            \n            }],\n        ]\n    },\n    chat_id: msg.receiver,\n    \"parse_mode\" : \"Markdown\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":60,"wires":[["788a2090.afd0c"]]},{"id":"788a2090.afd0c","type":"subflow:ac745e15.26ec5","z":"af0bd524.367f88","name":"","x":1330,"y":60,"wires":[[]]},{"id":"35fcafce.54595","type":"function","z":"af0bd524.367f88","name":"TNK - full Notify","func":"msg.payload = {\n\n    \"text\": \"🔊 Вітаємо !!! \" ,\n    \"chat_id\": msg.receiver\n    }\n   parse_mode : \"Markdown\"\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[["9b2cd1da.22f27"]]},{"id":"9b2cd1da.22f27","type":"subflow:ac745e15.26ec5","z":"af0bd524.367f88","name":"","env":[],"x":670,"y":60,"wires":[["fcdb06.dd4044f8"]]},{"id":"8e0977d6.e02838","type":"link in","z":"af0bd524.367f88","name":"","links":["ce7f0b08.8e1698","7aaf916b.e6063","2da52400.66edcc","8ffccc46.b57c8","a9b26a4e.53e818"],"x":235,"y":60,"wires":[["35fcafce.54595"]]},{"id":"2da52400.66edcc","type":"link out","z":"6a384cdf.3670b4","name":"","links":["8e0977d6.e02838"],"x":1455,"y":1400,"wires":[]},{"id":"98068d69.a35c","type":"function","z":"6a384cdf.3670b4","name":"Zero Step","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n    \"step\": \"RegistrationComplited\",\n    \"pointer\": \"RegistrationComplited\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2790,"y":540,"wires":[["c2b8d9d3.e31ff8"]]},{"id":"c2b8d9d3.e31ff8","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2980,"y":540,"wires":[["1d92de70.a0e1d2"]]},{"id":"1d92de70.a0e1d2","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3180,"y":540,"wires":[]},{"id":"654f2c2c.014364","type":"function","z":"8b3bfd1e.a3b3","name":"Update User Role /Applicant","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\nmsg.pointer = 'ChooseUserRole';\nmsg.role = \"Абітурієнт\";\n\n\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"typeId\": \"applicant\",\n    'pointer': \"RegistrationComplited\",\n    \"step\": \"RegistrationComplited\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["5c6aec9e.ecd0a4","784d5b9.18a9ea4"]]},{"id":"1de86f95.f6fb2","type":"function","z":"8b3bfd1e.a3b3","name":"Update User Role /Parents","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\nmsg.pointer = 'ChooseUserRole';\nmsg.role = \"Батьки\";\n\n\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"typeId\": \"parents\",\n    'pointer': \"RegistrationComplited\",\n    \"step\": \"RegistrationComplited\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["5c6aec9e.ecd0a4","784d5b9.18a9ea4"]]},{"id":"63a8b036.bbf7","type":"function","z":"8b3bfd1e.a3b3","name":"Update User Role /Teacher","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\nmsg.pointer = 'ChooseUserRole';\nmsg.role = \"Викладач\";\n\n\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"typeId\": \"teacher\",\n    'pointer' : \"RegistrationComplited\",\n    \"step\": \"RegistrationComplited\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["5c6aec9e.ecd0a4","784d5b9.18a9ea4"]]},{"id":"cc1469c9.1632f8","type":"function","z":"8b3bfd1e.a3b3","name":"Update User Role /Student","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\nmsg.pointer = 'ChooseUserRole';\nmsg.role = \"Студент\";\n\n\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"typeId\": \"student\",\n    'pointer': \"RegistrationComplited\",\n    \"step\": \"RegistrationComplited\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["5c6aec9e.ecd0a4","784d5b9.18a9ea4"]]},{"id":"42afb08.e253f5","type":"function","z":"8b3bfd1e.a3b3","name":"Update User Role /Other","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\nmsg.pointer = 'ChooseUserRole';\nmsg.role = \"Інші\";\n\n\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"typeId\": \"other\",\n    'pointer' : \"RegistrationComplited\",\n    \"step\": \"RegistrationComplited\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["5c6aec9e.ecd0a4","784d5b9.18a9ea4"]]},{"id":"f2ffd9fa.018bd8","type":"link in","z":"8b3bfd1e.a3b3","name":"","links":["c0faa775.3df2a8"],"x":155,"y":60,"wires":[["654f2c2c.014364"]]},{"id":"5c6aec9e.ecd0a4","type":"http request","z":"8b3bfd1e.a3b3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":140,"wires":[["10912dc4.16f322"]]},{"id":"b371cc56.492be","type":"link in","z":"8b3bfd1e.a3b3","name":"","links":["17d8dc1d.860bd4"],"x":155,"y":100,"wires":[["1de86f95.f6fb2"]]},{"id":"52a0029f.aadd5c","type":"link in","z":"8b3bfd1e.a3b3","name":"","links":["8e5f0db4.66fc9"],"x":155,"y":140,"wires":[["63a8b036.bbf7"]]},{"id":"fd3f8f48.49058","type":"link in","z":"8b3bfd1e.a3b3","name":"","links":["bba6cf50.c8783"],"x":155,"y":180,"wires":[["cc1469c9.1632f8"]]},{"id":"88ca1fd.171f8e","type":"link in","z":"8b3bfd1e.a3b3","name":"","links":["5ca1db59.8707e4"],"x":155,"y":220,"wires":[["42afb08.e253f5"]]},{"id":"10912dc4.16f322","type":"function","z":"8b3bfd1e.a3b3","name":"Success Role Notification","func":"\nmsg.payload = {\n\n    \"text\": \"✅  Успішно обрано\"  +  \" \"  +  msg.role,\n    \"chat_id\": msg.receiver\n    }\n   parse_mode : \"Markdown\"\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":140,"wires":[["df75158b.b43258"]]},{"id":"784d5b9.18a9ea4","type":"subflow:ac745e15.26ec5","z":"8b3bfd1e.a3b3","name":"","x":790,"y":40,"wires":[[]]},{"id":"df75158b.b43258","type":"subflow:ac745e15.26ec5","z":"8b3bfd1e.a3b3","name":"","x":1240,"y":140,"wires":[["8ffccc46.b57c8"]]},{"id":"8ffccc46.b57c8","type":"link out","z":"8b3bfd1e.a3b3","name":"","links":["8e0977d6.e02838"],"x":1415,"y":140,"wires":[]},{"id":"c0faa775.3df2a8","type":"link out","z":"6a384cdf.3670b4","name":"","links":["f2ffd9fa.018bd8"],"x":1455,"y":760,"wires":[]},{"id":"17d8dc1d.860bd4","type":"link out","z":"6a384cdf.3670b4","name":"","links":["b371cc56.492be"],"x":1455,"y":820,"wires":[]},{"id":"8e5f0db4.66fc9","type":"link out","z":"6a384cdf.3670b4","name":"","links":["52a0029f.aadd5c"],"x":1455,"y":880,"wires":[]},{"id":"bba6cf50.c8783","type":"link out","z":"6a384cdf.3670b4","name":"","links":["fd3f8f48.49058"],"x":1455,"y":940,"wires":[]},{"id":"5ca1db59.8707e4","type":"link out","z":"6a384cdf.3670b4","name":"","links":["88ca1fd.171f8e"],"x":1455,"y":1000,"wires":[]},{"id":"f915476f.774808","type":"switch","z":"6a384cdf.3670b4","name":"/start","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":160,"wires":[["a9b26a4e.53e818"]]},{"id":"13223a.8afd3dc6","type":"comment","z":"6a384cdf.3670b4","name":"","info":"","x":1500,"y":1080,"wires":[]},{"id":"7e0a45e9.b2313c","type":"function","z":"af0bd524.367f88","name":"About ICM","func":"//msg.url = `https://api.telegram.org/bot${msg.telegram_token}/sendMessage`;\nmsg.payload = {\n    \n    \"text\": \"*Кафедра Інформаційні Системи та Мережі* \\r\\n  \\r\\nЗдійснює підготовку фахівців з вищою освітою за освітньо-професійними програмами спеціальностей: \\r\\n✔️124 *Системний аналіз*; \\r\\n✔️126 *Інформаційні системи та технології * \\r\\n \\r\\nНа першому (бакалаврський), другому (магістерський) і третьому (освітньо-науковий) рівнях вищої освіти. \\r\\n[Ознайомитись із деталями на офіційному сайті](http://ism.lpnu.ua/)\",\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"Markdown\"\n    }\n    \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["fb2b6ccb.c9e2e"]]},{"id":"de996fea.51c44","type":"function","z":"af0bd524.367f88","name":"Contact","func":"msg.payload = {\n    \"text\": '<b>Контакти НУЛП:</b>\\r\\n\\n<b>· </b>Адреса НУЛП: <a href=\"https://goo.gl/maps/6VbhSWjT3CVAuGH87\">вулиця Степана Бандери, 12, Львів</a>\\r\\n<b>· </b>Телефони гарячої лінії → <a href=\"https://lpnu.ua/rektor/telefony-doviry\">веб-сторінка</a>\\r\\n<b>· </b>Питання щодо веб-сайтів університету → <a href=\"https://lpnu.ua/viddil-prvs\">веб-сторінка</a>\\r\\n<b>· </b>Навчально-технічний центр мережевих технологій → <a href=\"https://lpnu.ua/nttsmt\">веб-сторінка</a>\\r\\n<b>· </b>Канцелярія університету → <a href=\"https://lpnu.ua/kantseliariia-universytetu\">веб-сторінка</a>\\r\\n<b>· </b>E-mail: <code>coffice@lpnu.ua\"</code>\\r\\n<b>· </b>Приймальна комісія: тел. <a href=\"tel:+380322582537\">+38 032 258-25-37</a>\\r\\n<b>· </b>Приймальна ректора: тел. <a href=\"tel:+380322582111\">+38 032 258-21-11</a>\\r\\n<b>· </b>Служба доступності до можливостей навчання «Без обмежень» → <a href=\"https://lpnu.ua/nolimits\">веб-сторінка</a>\\r\\n\\n<b>Контакти кафедри ІСМ:</b>\\r\\n\\n<b>· </b>Адреса: <a href=\"https://goo.gl/maps/tGUQ5286wJxaXHKu7\">вул. Митрополита Андрея 5, 4 -й н.к., кім. 122а</a>\\r\\n<b>· </b>E-mail: <code>ism.dept@lpnu.ua</code>\\r\\n· Номер телефону: <a href=\"tel:+380322582638\">(032) 258-26-38</a>\\r\\n<b>· </b>Кафедра інформаційних систем та мереж → <a href=\"http://ism.lpnu.ua/\">веб-сторінка</a>\\r\\n<b>· </b>Кафедра інформаційних систем та мереж → <a href=\"http://wiki.lp.edu.ua/wiki/%D0%9A%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B0_%D1%96%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D0%B8%D1%85_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC_%D1%82%D0%B0_%D0%BC%D0%B5%D1%80%D0%B5%D0%B6\">Wiki-сторінка</a>',\n    reply_markup: {\n        inline_keyboard: [\n            [{\n                text: \"◀️ Головне меню\",\n                callback_data: \"/MainMenu\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver,\n    \"parse_mode\" : \"HTML\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["fb2b6ccb.c9e2e"]]},{"id":"f272c65a.2d5cf8","type":"function","z":"af0bd524.367f88","name":"About NULP","func":"msg.payload = {\n    \"title\": \"About_university\",\n    \"text\": \"<b><i>Національний університет «Львівська політехніка»</i></b> — найстаріший вищий технічний навчальний заклад України та Східної Європи, заснований 1816 року. \\r\\n\\nУніверситет складається з <i>16 інститутів</i>, <i>114 кафедр</i>, відокремлених навчальних закладів, громадських організацій та загальних підрозділів. \\r\\n\\nДізнатися більше про університет можна на <i><a href='https://lpnu.ua/'>офіційному сайті</a></i>\",\n    \"photo\": \"https://staff.lpnu.ua/sites/default/files/LPNU_staff_logo_big.png\",\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"HTML\"\n\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["fb2b6ccb.c9e2e"]]},{"id":"4e94cd68.202604","type":"function","z":"af0bd524.367f88","name":"About Bot Greeting","func":"msg.payload = {\n\n    \"text\": \"💥 Вперше використовуєте наш бот і ще не знаєте його функціонал?\",\n    \"chat_id\": msg.receiver\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["fb2b6ccb.c9e2e","e3eff091.e101c"]]},{"id":"87efc98c.cc29e8","type":"link in","z":"af0bd524.367f88","name":"","links":["de1acf18.5ffbf","ee8343c7.4304d"],"x":235,"y":160,"wires":[["7e0a45e9.b2313c"]]},{"id":"5ea3d530.52c6dc","type":"link in","z":"af0bd524.367f88","name":"","links":["9dd53d0e.4a34e"],"x":235,"y":220,"wires":[["de996fea.51c44"]]},{"id":"daf04114.3c279","type":"link in","z":"af0bd524.367f88","name":"","links":["b1c27ae5.71e998"],"x":235,"y":280,"wires":[["f272c65a.2d5cf8"]]},{"id":"93c36e8f.43213","type":"link in","z":"af0bd524.367f88","name":"","links":["40d19f5f.e9f33"],"x":235,"y":340,"wires":[["4e94cd68.202604"]]},{"id":"fb2b6ccb.c9e2e","type":"subflow:ac745e15.26ec5","z":"af0bd524.367f88","name":"","x":790,"y":160,"wires":[[]]},{"id":"e3eff091.e101c","type":"delay","z":"af0bd524.367f88","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":340,"wires":[["4b767789.e1d238"]]},{"id":"4b767789.e1d238","type":"function","z":"af0bd524.367f88","name":"Simple info message","func":"msg.payload = {\n\n    \"text\": \"Не хвилюйтесь!!! Спеціально для Вас ☺️\",\n    \"chat_id\": msg.receiver\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":340,"wires":[["13a090db.79c13f"]]},{"id":"bfdca43d.c0ca58","type":"function","z":"af0bd524.367f88","name":"About BOT /help link at description","func":"msg.payload = {\n        \"text\": \"<i><b>✨Правила користування ботом✨</b></i>!\\r\\n\\n<b>1. </b>Оберіть ім'я, яке буде використовувати бот для звернення, або залиште дефолтне\\r\\n<b>2. </b>Оберіть Ваш рід діяльності зі списку\\r\\n<b>3. </b>Щоб дізнатися більше інформації <i>про університет</i>, натисніть <b>кнопку 'Про НУЛП'</b> у головному меню\\r\\n<b>4. </b>Щоб дізнатися більше інформації <i>про кафедру 'Інформаційні системи та мережі'</i>, натисніть <b>кнопку 'Про ІСМ'</b> у головному меню\\r\\n<b>5. </b>Для <i>контакної інформації</i> натисніть <b>кнопку 'Контаки'</b> у головному меню\\r\\n<b>6. </b>Щоб подивитись <i>поширені питання</i>, натисніть <b>кнопку 'Найпопулярніші питання'</b> у головному меню\\r\\n\\n<i>і останнє за списком, але не за важливістю...</i>\\r\\n\\n<b>7. </b>Для того, щоб <i>отримати відповідь</i> на Ваше запитання, <b>просто напишіть його</b> і наш бот залюбки дасть на нього відповідь!\\r\\n\\n<i><b>Завжди раді допомогти!\\r\\nПриємного користування!</b></i>\",\n        reply_markup: {\n        inline_keyboard: [\n            [{\n                text: \"◀️ Головне меню\",\n                callback_data: \"/MainMenu\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver,\n    \"parse_mode\" : \"HTML\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":340,"wires":[["f1017b6b.4eace8"]]},{"id":"f1017b6b.4eace8","type":"subflow:ac745e15.26ec5","z":"af0bd524.367f88","name":"","x":1810,"y":340,"wires":[[]]},{"id":"379f49f8.990886","type":"link out","z":"6a384cdf.3670b4","name":"","links":[],"x":0,"y":0,"wires":[]},{"id":"f8b9f709.3e7388","type":"link out","z":"6a384cdf.3670b4","name":"","links":[],"x":0,"y":0,"wires":[]},{"id":"ee8343c7.4304d","type":"link out","z":"6a384cdf.3670b4","name":"","links":["87efc98c.cc29e8"],"x":1455,"y":1220,"wires":[]},{"id":"9dd53d0e.4a34e","type":"link out","z":"6a384cdf.3670b4","name":"","links":["5ea3d530.52c6dc"],"x":1455,"y":1280,"wires":[]},{"id":"b1c27ae5.71e998","type":"link out","z":"6a384cdf.3670b4","name":"","links":["daf04114.3c279"],"x":1455,"y":1340,"wires":[]},{"id":"40d19f5f.e9f33","type":"link out","z":"6a384cdf.3670b4","name":"","links":["93c36e8f.43213"],"x":1455,"y":1460,"wires":[]},{"id":"13a090db.79c13f","type":"subflow:ac745e15.26ec5","z":"af0bd524.367f88","name":"","x":1170,"y":340,"wires":[["bfdca43d.c0ca58"]]},{"id":"ab21d448.567fd8","type":"function","z":"ac4d26ff.dc37c8","name":"Main Statistic Menu","func":"msg.payload = {\n    text: \"Виберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Найбільш поширені питання 🏛\",\n                callback_data: \"/PopularAdminQA\"            \n            }], \n            [{\n                text: \"Питання без відповіді 🎓\",\n                callback_data: \"/UnansweredQues\"            \n            }],\n            [{\n                text: \"Загальна кількість користувачів 🔥\",\n                callback_data: \"/TotalUsers\"            \n            }],\n                        [{\n                text: \"Кількість користувачів певної групи 🗳\",\n                callback_data: \"/UsersType\"            \n            }],\n            // [{\n            //     text: \"Місцепроживання користувачів 🗳\",\n            //     callback_data: \"/Contact\"            \n            // }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":40,"wires":[["50938b0c.8d4944"]]},{"id":"50938b0c.8d4944","type":"subflow:ac745e15.26ec5","z":"ac4d26ff.dc37c8","name":"","x":690,"y":40,"wires":[[]]},{"id":"35b5b6a.35a8a4a","type":"link in","z":"ac4d26ff.dc37c8","name":"","links":["78565f3c.369b5"],"x":235,"y":40,"wires":[["ab21d448.567fd8"]]},{"id":"8b8765bc.fa9088","type":"function","z":"af0bd524.367f88","name":"Selection Popular Questions from DataBase","func":"msg.url = \"https://intern-task-winter.herokuapp.com/info/popular\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":500,"wires":[["ad86041b.596548","b3766155.8070f"]]},{"id":"ad86041b.596548","type":"http request","z":"af0bd524.367f88","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":500,"wires":[["7a9562df.08856c","5d24a4b9.a4cb0c"]]},{"id":"7a9562df.08856c","type":"change","z":"af0bd524.367f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.question","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":500,"wires":[["b9f7dab6.03f5b8"]]},{"id":"46187632.0e0fb8","type":"function","z":"af0bd524.367f88","name":"Prepare to sending message into the  chat","func":"msg.payload = {\n\n    text: msg.payload,\n    chat_id: msg.receiver,\n    parse_mode : \"Markdown\",\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":500,"wires":[["de693bb.58f66c8","c12cc25c.41da2"]]},{"id":"de693bb.58f66c8","type":"subflow:ac745e15.26ec5","z":"af0bd524.367f88","name":"","x":1950,"y":500,"wires":[["fa40b399.3d224"]]},{"id":"b9f7dab6.03f5b8","type":"split","z":"af0bd524.367f88","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1310,"y":500,"wires":[["46187632.0e0fb8"]]},{"id":"97a6a76f.833f08","type":"link in","z":"af0bd524.367f88","name":"","links":["c6d54ab2.8e0168"],"x":235,"y":500,"wires":[["8b8765bc.fa9088"]]},{"id":"c6d54ab2.8e0168","type":"link out","z":"6a384cdf.3670b4","name":"","links":["97a6a76f.833f08"],"x":1455,"y":1160,"wires":[]},{"id":"b3766155.8070f","type":"debug","z":"af0bd524.367f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":600,"wires":[]},{"id":"5d24a4b9.a4cb0c","type":"debug","z":"af0bd524.367f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":600,"wires":[]},{"id":"fa40b399.3d224","type":"debug","z":"af0bd524.367f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2200,"y":500,"wires":[]},{"id":"c12cc25c.41da2","type":"debug","z":"af0bd524.367f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":600,"wires":[]},{"id":"ea9f6194.72be4","type":"switch","z":"955b41c2.775d3","name":"State Step  ","property":"payload.data.step","propertyType":"msg","rules":[{"t":"eq","v":"EnterNewName","vt":"str"},{"t":"eq","v":"EnterCity","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":320,"wires":[["9f0643a7.ec926"],["72770350.29067c"]]},{"id":"9f0643a7.ec926","type":"function","z":"955b41c2.775d3","name":"Enter New Name","func":"msg.payload = {\n   \"text\": msg.text,\n    \"chat_id\": msg.receiver,\n    \"step\": \"EnterNewName\"\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":280,"wires":[["54a0e2d9.82312c","f20f347c.080528"]]},{"id":"72770350.29067c","type":"function","z":"955b41c2.775d3","name":"Enter City Name","func":"msg.payload = {\n   \"text\": msg.text,\n    \"chat_id\": msg.receiver,\n    \"pointer\": \"EnterLocation\"\n    \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":360,"wires":[["ff6fb3f7.d5f04"]]},{"id":"54a0e2d9.82312c","type":"function","z":"955b41c2.775d3","name":"Update New User Name at DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n            \"name\" : msg.payload.text,\n            \"pointer\": \"EnterLocation\",\n            \"step\": \"EnterNewName\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":280,"wires":[["95adb4ae.922228","fa164242.e9534"]]},{"id":"ff6fb3f7.d5f04","type":"function","z":"955b41c2.775d3","name":"Update User Location/city at DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n\n    \"city\": msg.payload.text,\n    \"step\": \"EnterCity\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":360,"wires":[["33ce50be.cfef8","61f289df.d33d28"]]},{"id":"95adb4ae.922228","type":"http request","z":"955b41c2.775d3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":280,"wires":[[]]},{"id":"33ce50be.cfef8","type":"http request","z":"955b41c2.775d3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":360,"wires":[[]]},{"id":"91554e30.820e7","type":"link in","z":"955b41c2.775d3","name":"","links":["b592c56e.fdc268"],"x":255,"y":320,"wires":[["ea9f6194.72be4"]]},{"id":"b592c56e.fdc268","type":"link out","z":"6a384cdf.3670b4","name":"","links":["91554e30.820e7"],"x":1255,"y":280,"wires":[]},{"id":"1c701d2.49d5fe3","type":"comment","z":"6a384cdf.3670b4","name":"Name & Location","info":"","x":1360,"y":220,"wires":[]},{"id":"d8cee38a.bf05f","type":"function","z":"955b41c2.775d3","name":"Update Current Name at DB /API","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n    \"telegramId\": msg.receiver,\n    \"name\":  msg.first_name,\n    \"step\": \"EnterCity\",\n    \"pointer\": \"AskEnterRole\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[["38c08dc7.c746d2","f81058c8.999268"]]},{"id":"ef3e8c16.93df2","type":"function","z":"955b41c2.775d3","name":"Notification Successful Name Update message ","func":"msg.payload = {\n\n    \"text\": \"Ім'я успішно змінено \",\n    \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":100,"wires":[["5cd6bb12.737ac4"]]},{"id":"38c08dc7.c746d2","type":"http request","z":"955b41c2.775d3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":100,"wires":[["ef3e8c16.93df2","34565e44.82f3b2"]]},{"id":"46b88cb3.b0c294","type":"function","z":"955b41c2.775d3","name":"Offer Input city Location","func":"//msg.method = \"POST\";\n\n//msg.pointer = \"EnterCity\"\nmsg.payload = {\n\n    \"text\": \"З якого Ви міста ?\",\n    \"chat_id\": msg.receiver\n    }\n\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":100,"wires":[["3db4be4d.90d362"]]},{"id":"5cd6bb12.737ac4","type":"delay","z":"955b41c2.775d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":100,"wires":[["46b88cb3.b0c294"]]},{"id":"3db4be4d.90d362","type":"subflow:ac745e15.26ec5","z":"955b41c2.775d3","name":"","x":1990,"y":100,"wires":[[]]},{"id":"e0b935d6.bb47a8","type":"link in","z":"955b41c2.775d3","name":"","links":["34b447db.06cb68"],"x":255,"y":100,"wires":[["d8cee38a.bf05f"]]},{"id":"5c5d2339.58f40c","type":"comment","z":"6a384cdf.3670b4","name":"Update Current Name","info":"","x":1780,"y":740,"wires":[]},{"id":"34b447db.06cb68","type":"link out","z":"6a384cdf.3670b4","name":"","links":["e0b935d6.bb47a8"],"x":1455,"y":580,"wires":[]},{"id":"ad142184.475fd","type":"function","z":"955b41c2.775d3","name":"Message Input new User name","func":"\nmsg.pointer  = 'EnterNewName';\n\nmsg.payload = {\n\n    \"text\": \"\\r\\nВведіть нове ім'я\",\n    \"chat_id\": msg.receiver,\n    'step': \"EnterNewName\"\n    }\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":180,"wires":[["4374da09.38d9e4"]]},{"id":"3a56642f.f4a5fc","type":"link in","z":"955b41c2.775d3","name":"","links":["afd83310.64841"],"x":255,"y":180,"wires":[["ad142184.475fd"]]},{"id":"aea503ed.0d6ca","type":"function","z":"955b41c2.775d3","name":"Update Enter New Name Step at DB /API","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n\n        \"step\": \"EnterNewName\",\n        \"pointer\": \"EnterLocation\"\n\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":180,"wires":[["1e2ad835.68cca8"]]},{"id":"1e2ad835.68cca8","type":"http request","z":"955b41c2.775d3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":180,"wires":[[]]},{"id":"3fc4916e.33d43e","type":"comment","z":"6a384cdf.3670b4","name":"Message Input new User name","info":"","x":1730,"y":880,"wires":[]},{"id":"afd83310.64841","type":"link out","z":"6a384cdf.3670b4","name":"","links":["3a56642f.f4a5fc"],"x":1455,"y":640,"wires":[]},{"id":"4374da09.38d9e4","type":"subflow:ac745e15.26ec5","z":"955b41c2.775d3","name":"","x":790,"y":180,"wires":[["aea503ed.0d6ca"]]},{"id":"f20f347c.080528","type":"debug","z":"955b41c2.775d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":460,"wires":[]},{"id":"61f289df.d33d28","type":"debug","z":"955b41c2.775d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":460,"wires":[]},{"id":"fa164242.e9534","type":"debug","z":"955b41c2.775d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":420,"wires":[]},{"id":"ae1fab9d.d614b8","type":"switch","z":"955b41c2.775d3","name":"Notification Pointer","property":"payload.data.pointer","propertyType":"msg","rules":[{"t":"eq","v":"EnterLocation","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":560,"wires":[["71bd157f.3aa16c"]]},{"id":"71bd157f.3aa16c","type":"function","z":"955b41c2.775d3","name":"Notification Successful Name Update message ","func":" msg.payload = {\n\n    \"text\": \"Ім'я успішно оновлене\",\n    \"chat_id\": msg.receiver\n    }\n\n return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":560,"wires":[["126957a4.ea0778"]]},{"id":"776304dd.98de0c","type":"link in","z":"955b41c2.775d3","name":"","links":["7f8a037a.58469c"],"x":255,"y":560,"wires":[["ae1fab9d.d614b8"]]},{"id":"126957a4.ea0778","type":"delay","z":"955b41c2.775d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":560,"wires":[["cc0f2fe1.47a7"]]},{"id":"cc0f2fe1.47a7","type":"function","z":"955b41c2.775d3","name":"Offer Enter city location","func":"//msg.method = \"POST\";\n//msg.pointer = \"EnterCity\";\n\nmsg.payload = {\n\n    \"text\": \"З якого Ви міста ?\",\n    \"chat_id\": msg.receiver,\n//    \"pointer\": \"EnterCity\"\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":560,"wires":[["3d8b50c7.2eb6"]]},{"id":"b3cd9fba.02e53","type":"function","z":"955b41c2.775d3","name":"Update Step at DB /API","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n\n            \"step\": \"EnterCity\",\n            \"pointer\": \"AskEnterRole\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":560,"wires":[["ff9a74bc.b0bc48","43930890.7f9208"]]},{"id":"ff9a74bc.b0bc48","type":"http request","z":"955b41c2.775d3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2230,"y":560,"wires":[[]]},{"id":"3d8b50c7.2eb6","type":"subflow:ac745e15.26ec5","z":"955b41c2.775d3","name":"","x":1670,"y":560,"wires":[["b3cd9fba.02e53"]]},{"id":"7f8a037a.58469c","type":"link out","z":"6a384cdf.3670b4","name":"","links":["776304dd.98de0c"],"x":1255,"y":340,"wires":[]},{"id":"b7180a89.9d6388","type":"function","z":"8b3bfd1e.a3b3","name":"Choose Role MENU display","func":"\nmsg.payload = {\n    text: \"Супер для кращого підбору FAQ виберіть свій вид зайнятості\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Абітурієнт\",\n                callback_data: \"/Applicant\"            \n            }, \n            {\n                text: \"Один з батьків\",\n                callback_data: \"/Parents\"            \n            }],\n            [{\n                text: \"Викладач\",\n                callback_data: \"/Teacher\"            \n            },\n            {\n                text: \"Студент\",\n                callback_data: \"/Student\"            \n            }],\n            [{\n                text: \"Інше\",\n                callback_data: \"/Other\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":340,"wires":[["81fd9c59.f5063"]]},{"id":"bce92b92.fee128","type":"switch","z":"8b3bfd1e.a3b3","name":"Notification Pointer","property":"payload.data.pointer","propertyType":"msg","rules":[{"t":"eq","v":"AskEnterRole","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":340,"wires":[["b7180a89.9d6388"]]},{"id":"12264531.35e86b","type":"function","z":"8b3bfd1e.a3b3","name":"Update Role Step at DB / API","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n\n            \"step\": \"EnterRole\",\n            \"pointer\": \"RegistrationComplited\"\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":340,"wires":[["d0427f6c.0e46b"]]},{"id":"d0427f6c.0e46b","type":"http request","z":"8b3bfd1e.a3b3","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":340,"wires":[[]]},{"id":"81fd9c59.f5063","type":"subflow:ac745e15.26ec5","z":"8b3bfd1e.a3b3","name":"","x":910,"y":340,"wires":[["12264531.35e86b"]]},{"id":"a4881027.0ec6e","type":"link in","z":"8b3bfd1e.a3b3","name":"","links":["72e025e5.17c3cc"],"x":155,"y":340,"wires":[["bce92b92.fee128"]]},{"id":"2301772a.c0e868","type":"comment","z":"6a384cdf.3670b4","name":"Choose Role MENU display","info":"","x":1400,"y":380,"wires":[]},{"id":"72e025e5.17c3cc","type":"link out","z":"6a384cdf.3670b4","name":"","links":["a4881027.0ec6e"],"x":1255,"y":440,"wires":[]},{"id":"f81058c8.999268","type":"debug","z":"955b41c2.775d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"34565e44.82f3b2","type":"debug","z":"955b41c2.775d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":40,"wires":[]},{"id":"43930890.7f9208","type":"debug","z":"955b41c2.775d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2180,"y":440,"wires":[]},{"id":"12e193ec.7b87dc","type":"switch","z":"7c256b47.25b1f4","name":"Notification Pointer","property":"payload.data.pointer","propertyType":"msg","rules":[{"t":"eq","v":"AskPersonalQues","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":240,"wires":[["2e639bd4.c39324"]]},{"id":"2e639bd4.c39324","type":"function","z":"7c256b47.25b1f4","name":"Ask personal question","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":240,"wires":[["28f4f1ef.f2379e"]]},{"id":"f6539d2e.9c1c6","type":"function","z":"7c256b47.25b1f4","name":"Getting Answer on personal Ques.","func":"//msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": msg._dialogflow.fulfillmentMessages[0].text.text[0],\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":240,"wires":[["b1793ba0.61bbc8"]]},{"id":"28f4f1ef.f2379e","type":"dialogflowv2","z":"7c256b47.25b1f4","dialogflow":"f3dfe751.9ee8b8","language":"uk","debug":false,"queryParamsOK":false,"x":980,"y":240,"wires":[["f6539d2e.9c1c6"]]},{"id":"b1793ba0.61bbc8","type":"http request","z":"7c256b47.25b1f4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":240,"wires":[[]]},{"id":"578bfd58.46d134","type":"link in","z":"7c256b47.25b1f4","name":"","links":["671fe243.75e48c"],"x":255,"y":240,"wires":[[]]},{"id":"671fe243.75e48c","type":"link out","z":"6a384cdf.3670b4","name":"","links":["578bfd58.46d134"],"x":1255,"y":500,"wires":[]},{"id":"d0ba006.84498","type":"link in","z":"7c256b47.25b1f4","name":"","links":["b17d5688.04fe38"],"x":255,"y":140,"wires":[["3b1d9ffd.7e566"]]},{"id":"3b1d9ffd.7e566","type":"function","z":"7c256b47.25b1f4","name":"Ask Personal Ques. at DialogFlow","func":"msg.payload = {\n\n    \"text\": \"Напишіть питання які Вас цікавлять 🖌\",\n    \"chat_id\": msg.receiver,\n    \"parse_mode\" : \"Markdown\"\n    \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":140,"wires":[["12b852a7.0d99ad"]]},{"id":"12b852a7.0d99ad","type":"subflow:ac745e15.26ec5","z":"7c256b47.25b1f4","name":"","x":840,"y":140,"wires":[[]]},{"id":"530114c6.09af8c","type":"function","z":"7c256b47.25b1f4","name":"Ask Personal Ques Step / Pointer","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text,\n// \"pointer\": \"AskPersonalQues\",\n// \"step\": \"AskPersonalQues\"\n \"pointer\": \"RegistrationComplited\",\n \"step\": \"RegistrationComplited\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":140,"wires":[["112f8aae.729d65"]]},{"id":"112f8aae.729d65","type":"http request","z":"7c256b47.25b1f4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":140,"wires":[["3d380303.3a262c"]]},{"id":"b17d5688.04fe38","type":"link out","z":"6a384cdf.3670b4","name":"","links":["d0ba006.84498"],"x":1455,"y":1600,"wires":[]},{"id":"75c69817.e89d78","type":"comment","z":"6a384cdf.3670b4","name":"Ask Personal Ques. at DialogFlow","info":"","x":1490,"y":1720,"wires":[]},{"id":"cd56b7b0.6dab98","type":"switch","z":"5ab382e1.b0999c","name":"Edit Information MENU","property":"payload.data.pointer","propertyType":"msg","rules":[{"t":"eq","v":"CurrentAdminMenu","vt":"str"},{"t":"eq","v":"ChangeInfoFaculty","vt":"str"},{"t":"eq","v":"ChangeInfoNULP","vt":"str"},{"t":"eq","v":"AddQAFaQ","vt":"str"},{"t":"eq","v":"AddAnswer","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":340,"y":460,"wires":[["b1026929.236f98"],["a43ddd83.398f"],["812fa217.4f7e9"],["918d0bd.fc42af8"],["f97c3fe.29c8cc"]]},{"id":"b1026929.236f98","type":"function","z":"5ab382e1.b0999c","name":"Main Action Menu for Super Admin","func":"msg.payload = {\n    text: \"Для подальшої роботи оберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Статистика 🏛\",\n                callback_data: \"/statistic\"            \n            }], \n            [{\n                text: \"Редагування інформації про кафедру 🎓\",\n                callback_data: \"/EditCatedra\"            \n            }],\n            [{\n                text: \"Редагування інформації про НУЛП 🔥\",\n                callback_data: \"/EditNulp\"            \n            }],\n                        [{\n                text: \"Оновити список питань 🗳\",\n                callback_data: \"/EditQA\"            \n            }],\n                                    [{\n                text: \"Масова розсилка 🗳\",\n                callback_data: \"/MassMessage\"            \n            }],\n            [{\n                text: \"Менеджмент адмінів 🗳\",\n                callback_data: \"/AdminsManagement\"            \n            }]\n        ]\n    },\n    chat_id: msg.receiver\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":380,"wires":[["7f7c9ddc.651e14"]]},{"id":"a43ddd83.398f","type":"function","z":"5ab382e1.b0999c","name":"Add New Message Text","func":"msg.payload = {\n   \"text\": msg.text,\n   \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":420,"wires":[["9f36e0f0.e575a"]]},{"id":"812fa217.4f7e9","type":"function","z":"5ab382e1.b0999c","name":"Add New Message Text","func":"msg.payload = {\n   \"text\": msg.text,\n   \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":460,"wires":[["a2707cdd.47145"]]},{"id":"918d0bd.fc42af8","type":"function","z":"5ab382e1.b0999c","name":"Add New Ques","func":"msg.payload = {\n   \"text\": msg.text,\n   \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["8900615f.be9c9","5c91a107.03423"]]},{"id":"f97c3fe.29c8cc","type":"function","z":"5ab382e1.b0999c","name":"Add Answer","func":"msg.payload = {\n   \"text\": msg.text,\n   \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":540,"wires":[["a7b4a1dc.3fb47"]]},{"id":"7f7c9ddc.651e14","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":950,"y":380,"wires":[["cc1bd3cb.b626b"]]},{"id":"cc1bd3cb.b626b","type":"function","z":"5ab382e1.b0999c","name":"Update Zero Step Current Admin","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text,\n \"pointer\": \"CurrentAdmin\",\n \"step\": \"CurrentAdmin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":380,"wires":[["2e198869.880658"]]},{"id":"c5b72d2f.f620c","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":460,"wires":[["eb28e1c.826392"]]},{"id":"4e756bf.3ded394","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":420,"wires":[["3942c521.5039fa"]]},{"id":"4921fd70.ed3804","type":"http request","z":"5ab382e1.b0999c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":500,"wires":[["15f00e44.eacd02","6ff2c56b.6f1f3c"]]},{"id":"536377df.eaf1d8","type":"http request","z":"5ab382e1.b0999c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":540,"wires":[["3353b240.8f8a4e"]]},{"id":"2e198869.880658","type":"http request","z":"5ab382e1.b0999c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":1550,"y":380,"wires":[[]]},{"id":"fabbd50f.876c38","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2410,"y":420,"wires":[[]]},{"id":"a7b4a1dc.3fb47","type":"function","z":"5ab382e1.b0999c","name":"Push New Answer to DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/info/faq\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":540,"wires":[["536377df.eaf1d8"]]},{"id":"eb28e1c.826392","type":"function","z":"5ab382e1.b0999c","name":"Success Notification","func":"msg.payload = {\n\n    text: \"Текст успішно доданий 👍\",\n    chat_id : msg.receiver,\n    parse_mode : \"Markdown\",\n    \n    \n    }\n   \nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":460,"wires":[["3e815a1d.2f4e76"]]},{"id":"3942c521.5039fa","type":"function","z":"5ab382e1.b0999c","name":"Success Notification","func":"msg.payload = {\n\n    text: \"Текст успішно доданий 👍\",\n    chat_id : msg.receiver,\n    parse_mode : \"Markdown\",\n    \n    \n    }\n\n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":420,"wires":[["dd2952a2.aeb7"]]},{"id":"15f00e44.eacd02","type":"function","z":"5ab382e1.b0999c","name":"Success Notification","func":"msg.payload = {\n\n    text: \"✅ Питання успішно оновлено\",\n    chat_id : msg.receiver\n\n    }\n \n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":500,"wires":[["bfacdcb8.499ed","756347af.783dc8"]]},{"id":"3353b240.8f8a4e","type":"function","z":"5ab382e1.b0999c","name":"Success Notification","func":"msg.payload = {\n\n    text: \"Відповідь успішно додано 👍\",\n    chat_id : msg.receiver\n\n    }\n \n  return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":540,"wires":[["f17dd8e0.aec018"]]},{"id":"8900615f.be9c9","type":"function","z":"5ab382e1.b0999c","name":"Push New Ques to DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/info/faq\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"question\": msg.payload.text\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["4921fd70.ed3804","45655865.d48428"]]},{"id":"a2707cdd.47145","type":"function","z":"5ab382e1.b0999c","name":"Update NULP Info","func":"msg.url = \"https://intern-task-winter.herokuapp.com/admin/university\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n    \"answer\": msg.payload.text,\n   // \"step\": \"ChangeInfoNULP\",\n   // \"pointer\": \"ChangeInfoNULP\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":460,"wires":[["c5b72d2f.f620c"]]},{"id":"9f36e0f0.e575a","type":"function","z":"5ab382e1.b0999c","name":"Update Faculty Info","func":"msg.url = \"https://intern-task-winter.herokuapp.com/admin/faculty\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": \"688401120\"\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text,\n \"pointer\": \"0\",\n \"step\": \"0\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":420,"wires":[["4e756bf.3ded394"]]},{"id":"dd2952a2.aeb7","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":1790,"y":420,"wires":[["aed0d8a2.c055b8"]]},{"id":"3e815a1d.2f4e76","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":1790,"y":460,"wires":[["87afb31a.3844b"]]},{"id":"bfacdcb8.499ed","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":1790,"y":500,"wires":[["80b28503.128ca8"]]},{"id":"f17dd8e0.aec018","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":1790,"y":540,"wires":[["df9e75b3.1116f8"]]},{"id":"aed0d8a2.c055b8","type":"function","z":"5ab382e1.b0999c","name":"Update Zero Step Current Admin","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n \"answer\": msg.payload.text,\n \"pointer\": \"CurrentAdmin\",\n \"step\": \"CurrentAdmin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2120,"y":420,"wires":[["fabbd50f.876c38"]]},{"id":"87afb31a.3844b","type":"function","z":"5ab382e1.b0999c","name":"Update Zero Step Current Admin","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n    \"answer\": msg.payload.text,\n    \"pointer\": \"CurrentAdmin\",\n    \"step\": \"CurrentAdmin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2120,"y":460,"wires":[["f1981e86.2ba59"]]},{"id":"80b28503.128ca8","type":"function","z":"5ab382e1.b0999c","name":"Add Answer Pointer / Step","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n    \"pointer\": \"AddAnswer\",\n    \"step\": \"AddAnswer\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2090,"y":500,"wires":[["d4dd130b.56755"]]},{"id":"df9e75b3.1116f8","type":"function","z":"5ab382e1.b0999c","name":"Update Zero Step Current Admin","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n    \"answer\": msg.payload.text,\n    \"pointer\": \"CurrentAdmin\",\n    \"step\": \"CurrentAdmin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2120,"y":540,"wires":[["35522fbd.d4b89"]]},{"id":"f1981e86.2ba59","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2410,"y":460,"wires":[[]]},{"id":"d4dd130b.56755","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2410,"y":500,"wires":[["f8f2c0a4.8e57d"]]},{"id":"35522fbd.d4b89","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2410,"y":540,"wires":[[]]},{"id":"f8f2c0a4.8e57d","type":"function","z":"5ab382e1.b0999c","name":"Add Answer","func":"msg.method = \"POST\";\nmsg.payload = {\n\n    \"text\": \"Введіть відповідь на запитання 🍓\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2610,"y":500,"wires":[["58a6cac8.56d564"]]},{"id":"58a6cac8.56d564","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":2870,"y":500,"wires":[[]]},{"id":"7a08af9b.3c8f6","type":"link in","z":"5ab382e1.b0999c","name":"","links":["f2006222.88b34"],"x":175,"y":460,"wires":[["cd56b7b0.6dab98"]]},{"id":"f2006222.88b34","type":"link out","z":"6a384cdf.3670b4","name":"","links":["7a08af9b.3c8f6"],"x":1005,"y":2400,"wires":[]},{"id":"a9b26a4e.53e818","type":"link out","z":"6a384cdf.3670b4","name":"","links":["8e0977d6.e02838"],"x":1435,"y":160,"wires":[]},{"id":"5c91a107.03423","type":"debug","z":"5ab382e1.b0999c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":600,"wires":[]},{"id":"45655865.d48428","type":"debug","z":"5ab382e1.b0999c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":580,"wires":[]},{"id":"6ff2c56b.6f1f3c","type":"debug","z":"5ab382e1.b0999c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":600,"wires":[]},{"id":"756347af.783dc8","type":"debug","z":"5ab382e1.b0999c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":580,"wires":[]},{"id":"7f78fcaf.b8ea54","type":"debug","z":"5ab382e1.b0999c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2230,"y":620,"wires":[]},{"id":"8a4338bd.0f1c08","type":"function","z":"5ab382e1.b0999c","name":"Add New Ques","func":"msg.payload = {\n\n    \"text\": \"Введіть нове запитання 🍓\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["20aa8cdc.4b2f64"]]},{"id":"f065bfec.54849","type":"function","z":"5ab382e1.b0999c","name":"Update pointer for Step for Text","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n        \"step\": \"AddQAFaQ\",\n        \"pointer\": \"AddQAFaQ\",\n        \n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":60,"wires":[["2ed23c8f.fa58e4"]]},{"id":"2ed23c8f.fa58e4","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":60,"wires":[["26719172.a9378e"]]},{"id":"20aa8cdc.4b2f64","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":590,"y":60,"wires":[["f065bfec.54849"]]},{"id":"d95bf763.3ed038","type":"link in","z":"5ab382e1.b0999c","name":"","links":["458cc0d4.63adc"],"x":175,"y":60,"wires":[["8a4338bd.0f1c08"]]},{"id":"374edec7.ec80a2","type":"function","z":"5ab382e1.b0999c","name":"Editing information about NULP","func":"msg.payload = {\n\n    \"text\": \"Вкажіть новий текст для використання 🍓\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":120,"wires":[["2f816f2f.7be08"]]},{"id":"2f816f2f.7be08","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","env":[],"x":670,"y":120,"wires":[["6103869e.a5ad78"]]},{"id":"6103869e.a5ad78","type":"function","z":"5ab382e1.b0999c","name":"Update pointer for Step for Text","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n        \"step\": \"ChangeInfoNULP\",\n        \"pointer\": \"ChangeInfoNULP\",\n        \n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":120,"wires":[["8019b765.315398"]]},{"id":"8019b765.315398","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":120,"wires":[[]]},{"id":"95c88905.eac1b8","type":"link in","z":"5ab382e1.b0999c","name":"","links":["ac5ff781.316b58"],"x":175,"y":120,"wires":[["374edec7.ec80a2"]]},{"id":"26719172.a9378e","type":"debug","z":"5ab382e1.b0999c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":60,"wires":[]},{"id":"7720c46d.3a727c","type":"function","z":"5ab382e1.b0999c","name":"Editing information about Cafedra","func":"msg.payload = {\n\n    \"text\": \"Вкажіть новий текст для використання 🍓\",\n    \"chat_id\": msg.receiver\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["55d68654.cfb5b8"]]},{"id":"748195aa.2e011c","type":"link in","z":"5ab382e1.b0999c","name":"","links":["b3117dcb.80e66"],"x":175,"y":180,"wires":[["7720c46d.3a727c"]]},{"id":"55d68654.cfb5b8","type":"subflow:ac745e15.26ec5","z":"5ab382e1.b0999c","name":"","x":710,"y":180,"wires":[["926d0289.d32d5"]]},{"id":"926d0289.d32d5","type":"function","z":"5ab382e1.b0999c","name":"Update pointer for Step for Text","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n\n        \"step\": \"ChangeInfoFaculty\",\n        \"pointer\": \"ChangeInfoFaculty\",\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":180,"wires":[["e57e385c.837d98"]]},{"id":"e57e385c.837d98","type":"http request","z":"5ab382e1.b0999c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1350,"y":180,"wires":[[]]},{"id":"ce7bba8c.baf648","type":"comment","z":"6a384cdf.3670b4","name":"Display Users Menu for Registered Users","info":"","x":1680,"y":160,"wires":[]},{"id":"ad96e5f5.d9ed88","type":"function","z":"c4e1ec3b.2615c","name":"Admins Management Add/Delete","func":"//msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Що необхідно зробити ? 😎\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Додати Адміна\",\n                callback_data: \"/AddAdmin\"            \n            }, \n            {\n                text: \"Видалити Адміна\",\n                callback_data: \"/DeleteAdminMenu\"            \n            }] \n        ]\n        },\n        \"chat_id\": 688401120\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["16a6bb8a.472bd4"]]},{"id":"16a6bb8a.472bd4","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":790,"y":120,"wires":[[]]},{"id":"d6e8fe71.c1f9a","type":"link in","z":"c4e1ec3b.2615c","name":"","links":["3e4e224b.fac88e"],"x":255,"y":120,"wires":[["ad96e5f5.d9ed88"]]},{"id":"3e4e224b.fac88e","type":"link out","z":"6a384cdf.3670b4","name":"","links":["d6e8fe71.c1f9a"],"x":1135,"y":4680,"wires":[]},{"id":"c3916b6.0f8f098","type":"function","z":"c4e1ec3b.2615c","name":"Admins List","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/role/1\" \nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":260,"wires":[["830b1434.1459e8"]]},{"id":"2b55db69.d5e314","type":"comment","z":"c4e1ec3b.2615c","name":"Choose Delete Admin","info":"","x":340,"y":200,"wires":[]},{"id":"c4df2fdf.a2b95","type":"function","z":"c4e1ec3b.2615c","name":"Display Admins List on Inline Buttons","func":"var admins = msg.payload.data;\n\nmsg.payload = {\n    \"text\": \"Виберіть необхідного адміна\",\n    \"reply_markup\": {\n        \"inline_keyboard\": []\n    },\n    \"chat_id\": msg.receiver\n}\n\n\n//creating list of admins\nadmins.forEach((value) => {\n    if (value.name) {\n        msg.payload.reply_markup.inline_keyboard.push([{\"text\": value.name, \"callback_data\": (\"/DeleteAdminButton_\" + value.telegramId)}]);\n    }\n});\n\n\n//if there aren't any admins\nif (!msg.payload.reply_markup.inline_keyboard.length) {\n    msg.payload.text = \"Поки що немає адмінів\";\n}\n\n\n\n// msg.payload.reply_markup.inline_keyboard.push([{\n//                 \"text\": \"⚙ Адмін-панель\",\n//                 \"callback_data\": \"adminMenu\"            \n//             }]);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":260,"wires":[["e1144e95.79f6"]]},{"id":"e1144e95.79f6","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":1250,"y":260,"wires":[[]]},{"id":"830b1434.1459e8","type":"http request","z":"c4e1ec3b.2615c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":260,"wires":[["c4df2fdf.a2b95"]]},{"id":"1f55e944.783107","type":"link in","z":"c4e1ec3b.2615c","name":"","links":["afe1f6e9.fbae08"],"x":255,"y":260,"wires":[["c3916b6.0f8f098"]]},{"id":"afe1f6e9.fbae08","type":"link out","z":"6a384cdf.3670b4","name":"","links":["1f55e944.783107"],"x":1135,"y":4820,"wires":[]},{"id":"e5abdd60.c4547","type":"function","z":"c4e1ec3b.2615c","name":"Action Yes/No","func":"\n//msg.method = \"POST\";\n//msg.url = \"https://api.telegram.org/bot1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Ви точно бажаєте видалити цього адміна ?\",\n        reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Так\",\n                callback_data: \"/DeleteAdminPermanently\"            \n            }, \n            {\n                text: \"Ні\",\n                callback_data: \"/DeleteAdminMenu\"            \n            }] \n        ]\n        },\n        \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["f200b2f2.c4d9b"]]},{"id":"f200b2f2.c4d9b","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":690,"y":340,"wires":[[]]},{"id":"e11a2eb8.f7d0c","type":"link in","z":"c4e1ec3b.2615c","name":"","links":["4633b1ff.3f234"],"x":255,"y":340,"wires":[["e5abdd60.c4547"]]},{"id":"4633b1ff.3f234","type":"link out","z":"6a384cdf.3670b4","name":"","links":["e11a2eb8.f7d0c"],"x":1135,"y":4880,"wires":[]},{"id":"fe43fb7b.b7bb48","type":"function","z":"c4e1ec3b.2615c","name":"Action Delete Admin Permanently","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/admins/remove/\" + msg.message.split('_')[1];\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n    \"roleId\": 0,\n    \"step\": \"DeleteAdmin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["1a141021.1115d"]]},{"id":"84fd7abe.aa0dd8","type":"link in","z":"c4e1ec3b.2615c","name":"","links":["1d2ba900.47f4a7"],"x":255,"y":420,"wires":[["fe43fb7b.b7bb48"]]},{"id":"44b86d3c.247cd4","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":1070,"y":420,"wires":[["2d86b1ae.8b39ee"]]},{"id":"1a141021.1115d","type":"http request","z":"c4e1ec3b.2615c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":420,"wires":[["44b86d3c.247cd4"]]},{"id":"2d86b1ae.8b39ee","type":"function","z":"c4e1ec3b.2615c","name":"Delete Action Notification","func":"msg.payload = {\n\n    \"text\": \"✅ Адмін успішно видалений\",\n    \"chat_id\": msg.receiver\n    }\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":420,"wires":[["68d8f9bb.7521b8"]]},{"id":"68d8f9bb.7521b8","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":1670,"y":420,"wires":[[]]},{"id":"1d2ba900.47f4a7","type":"link out","z":"6a384cdf.3670b4","name":"","links":["84fd7abe.aa0dd8"],"x":1135,"y":4940,"wires":[]},{"id":"7c24e9cb.c3cb98","type":"switch","z":"c4e1ec3b.2615c","name":"Return click on Admin Delete Button ","property":"req.body.callback_query.data","propertyType":"msg","rules":[{"t":"cont","v":"/DeleteAdminButton","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":500,"wires":[["87fda15b.a141f"]]},{"id":"87fda15b.a141f","type":"function","z":"c4e1ec3b.2615c","name":"Get User by Id","func":"msg.payload = Number(msg.message.split('_')[1]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":500,"wires":[["27401b16.4dd9e4"]]},{"id":"27401b16.4dd9e4","type":"function","z":"c4e1ec3b.2615c","name":"Update User Role on Admin 0","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/admins/remove/\" + msg.payload;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n\n    \"roleId\": 0,\n    \"step\": \"RegistrationComplited\",\n    \"pointer\": \"RegistrationComplited\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":500,"wires":[["a8f33930.3314f8"]]},{"id":"a8f33930.3314f8","type":"http request","z":"c4e1ec3b.2615c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":500,"wires":[["657c0f72.4322"]]},{"id":"657c0f72.4322","type":"function","z":"c4e1ec3b.2615c","name":"Add Action Notification","func":"msg.payload = {\n\n    \"text\": \"✅ Адмін успішно видалений\",\n    \"chat_id\": msg.receiver\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":500,"wires":[["c7874f68.9d9ec"]]},{"id":"c7874f68.9d9ec","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":1890,"y":500,"wires":[[]]},{"id":"21f00876.549668","type":"link in","z":"c4e1ec3b.2615c","name":"","links":["fdd0c2e.d7f334"],"x":255,"y":500,"wires":[["7c24e9cb.c3cb98"]]},{"id":"2fb40912.a997d6","type":"link out","z":"6a384cdf.3670b4","name":"","links":[],"x":995,"y":2220,"wires":[]},{"id":"ee6857a3.8489d8","type":"comment","z":"6a384cdf.3670b4","name":"Return click on Admin Delete Button ","info":"","x":1140,"y":2160,"wires":[]},{"id":"e5040d51.62b82","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":2320,"wires":[]},{"id":"2c4463ce.de0c3c","type":"function","z":"6a384cdf.3670b4","name":"","func":"\n\nmsg.recepient = msg.payload.data.pointer;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":2260,"wires":[["12c03d0f.5a9ef3","5a031b4b.e8aab4"]]},{"id":"12c03d0f.5a9ef3","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2090,"y":2300,"wires":[]},{"id":"584146d0.0fb9f8","type":"json","z":"6a384cdf.3670b4","name":"","property":"payload.user","action":"","pretty":false,"x":2770,"y":4000,"wires":[[]]},{"id":"c8d6bfbe.94393","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2910,"y":3660,"wires":[]},{"id":"e054793e.0c8828","type":"function","z":"6a384cdf.3670b4","name":"Student Step at DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": {student: msg.payload.student},\n //           \"pointer\": \"RecordStudent\"\n\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2370,"y":3720,"wires":[["f3070364.ed93d","7df829f7.764ce8"]]},{"id":"f3070364.ed93d","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2730,"y":3720,"wires":[["a5536f1b.7f854"]]},{"id":"12731f65.1f29e1","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2570,"y":3420,"wires":[]},{"id":"7df829f7.764ce8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2430,"y":3560,"wires":[]},{"id":"a5536f1b.7f854","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2750,"y":3520,"wires":[]},{"id":"cd1afb4e.6499b8","type":"function","z":"6a384cdf.3670b4","name":"","func":"//msg.student = msg.payload.data.step.student;\n\nmsg.payload = {\n\n    \"parents\": msg.payload.parents,\n //   \"chat_id\": msg.receiver\n    }\n\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":3680,"wires":[["152f3849.209f48","55927aba.771c54"]]},{"id":"55927aba.771c54","type":"function","z":"6a384cdf.3670b4","name":"Parent Step at DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": {parents: msg.payload.parents, user: msg.user},\n //           \"pointer\": \"RecordParent\"\n\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2370,"y":3680,"wires":[["77c0366f.894958","e805158d.82e908"]]},{"id":"77c0366f.894958","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2730,"y":3680,"wires":[["c8d6bfbe.94393"]]},{"id":"152f3849.209f48","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2110,"y":3620,"wires":[]},{"id":"e805158d.82e908","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2530,"y":3620,"wires":[]},{"id":"fdd0c2e.d7f334","type":"link out","z":"6a384cdf.3670b4","name":"","links":["21f00876.549668"],"x":1085,"y":2220,"wires":[]},{"id":"ce1f943d.5f4ed8","type":"subflow:ac745e15.26ec5","z":"6a384cdf.3670b4","name":"","x":3790,"y":2080,"wires":[[]]},{"id":"3d380303.3a262c","type":"debug","z":"7c256b47.25b1f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":60,"wires":[]},{"id":"1b87e78d.e2a928","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":460,"wires":[]},{"id":"163513d8.f5981c","type":"switch","z":"6a384cdf.3670b4","name":"","property":"payload.data.step","propertyType":"msg","rules":[{"t":"eq","v":"RegistrationComplited","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":580,"wires":[["fdbf3547.641528"]]},{"id":"e7ecbd6b.30e1d","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":620,"wires":[]},{"id":"77ce14a2.c5595c","type":"switch","z":"6a384cdf.3670b4","name":"/AskPersonalQues","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"/AskPersonalQues","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":560,"wires":[["e7ecbd6b.30e1d"]]},{"id":"e146dff3.9eb3f","type":"function","z":"6a384cdf.3670b4","name":"Get Info Saved at State","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\n// msg.payload = {\n    \n//           \"step\": \"CurrentAdminMenu\",\n//             \"pointer\": \"RecordStudent\"\n\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":3540,"wires":[["302e38cb.d79108","c5c939c8.e1a118","8600114e.acf59","a24abb0c.fbf548"]]},{"id":"302e38cb.d79108","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":3420,"wires":[["b280b2d6.aeae1","bf055347.51c52"]]},{"id":"b280b2d6.aeae1","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":3400,"wires":[]},{"id":"bf055347.51c52","type":"function","z":"6a384cdf.3670b4","name":"Save Info at variable","func":"msg.user = msg.payload.data.step.student;\n\n// msg.payload = {\n\n//     \"student\": payload.data.step.student\n// //    \"chat_id\": msg.receiver\n//     }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":3700,"wires":[["b9664561.c4acc8","b74dc89e.732378","9db9ef17.85537"]]},{"id":"b9664561.c4acc8","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":3340,"wires":[]},{"id":"c5c939c8.e1a118","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":3340,"wires":[]},{"id":"d58a4efb.a360a","type":"function","z":"6a384cdf.3670b4","name":"Save step at DB","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nmsg.payload = {\n    \n \"pointer\": msg.payload + \" \"+ msg.recepient,\n //\"step\": {parents: msg.payload.parents, student: msg.student}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2440,"y":2260,"wires":[["30bba7dd.be79d8","808b0dbd.f2854"]]},{"id":"30bba7dd.be79d8","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2650,"y":2260,"wires":[["2db6390b.40c716"]]},{"id":"f1237dbd.76457","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":2280,"wires":[["36d7eb92.6b69d4","7b377398.79b51c"]]},{"id":"36d7eb92.6b69d4","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":2360,"wires":[]},{"id":"2db6390b.40c716","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2690,"y":2320,"wires":[]},{"id":"808b0dbd.f2854","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2490,"y":2300,"wires":[]},{"id":"7b377398.79b51c","type":"http request","z":"6a384cdf.3670b4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1790,"y":2300,"wires":[["2c4463ce.de0c3c","febc6d42.406e3"]]},{"id":"febc6d42.406e3","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1920,"y":2360,"wires":[]},{"id":"5bdfd0b6.25c7b","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.recepient = [];\nmsg.recepient.push(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":2400,"wires":[[]]},{"id":"5a031b4b.e8aab4","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.payload = msg.message.split('_')[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":2260,"wires":[["d58a4efb.a360a","5e2b6880.a66e68"]]},{"id":"5e2b6880.a66e68","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2280,"y":2320,"wires":[]},{"id":"6408f924.e7b188","type":"comment","z":"c4e1ec3b.2615c","name":"Choose Add Admin","info":"","x":330,"y":580,"wires":[]},{"id":"8600114e.acf59","type":"function","z":"6a384cdf.3670b4","name":"Save Info at other","func":"msg.user = msg.payload.data.step.other;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":3740,"wires":[["f42d0762.c95a88"]]},{"id":"f394f668.854718","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.payload = {\n\n    \"other\": msg.payload.other,\n\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":3760,"wires":[["d934a045.78509","d8119445.42bf78"]]},{"id":"d8119445.42bf78","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n \n            \"step\": {other: msg.payload.other, user: msg.user},\n //           \"pointer\": \"RecordParent\"\n\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2360,"y":3760,"wires":[["b98bf676.b0acc8","b2122e2e.ae13"]]},{"id":"b98bf676.b0acc8","type":"http request","z":"6a384cdf.3670b4","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2730,"y":3760,"wires":[["ab6814d9.81fc28"]]},{"id":"ab6814d9.81fc28","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2830,"y":3820,"wires":[]},{"id":"b2122e2e.ae13","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2440,"y":3840,"wires":[]},{"id":"7cdd4d6a.fea544","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":3800,"wires":[]},{"id":"9db9ef17.85537","type":"debug","z":"6a384cdf.3670b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":3840,"wires":[]},{"id":"a24abb0c.fbf548","type":"function","z":"6a384cdf.3670b4","name":"","func":"msg.user = msg.payload.data.step.parents;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":3660,"wires":[["e79ff39f.84852"]]},{"id":"d8f038ea.16add8","type":"switch","z":"c4e1ec3b.2615c","name":"Add New Admin Step","property":"payload.data.step","propertyType":"msg","rules":[{"t":"eq","v":"FindUser","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":760,"wires":[["3aa7a8a8.bfa9a8"]]},{"id":"3aa7a8a8.bfa9a8","type":"function","z":"c4e1ec3b.2615c","name":"Input UserName","func":"msg.payload = msg.text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":760,"wires":[["fdce81e8.f2494"]]},{"id":"fdce81e8.f2494","type":"function","z":"c4e1ec3b.2615c","name":"Printing Message","func":"msg.payload = {\n\n    text: msg.payload,\n    chat_id : msg.receiver,\n    \n    \n    }\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":760,"wires":[["85ec4885.841838"]]},{"id":"85ec4885.841838","type":"function","z":"c4e1ec3b.2615c","name":"Get UserName from DB","func":"msg.conector = \"FindUser\"\nmsg.url = \"https://intern-task-winter.herokuapp.com/users/telegram_name/\" + msg.payload.text;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":760,"wires":[["2fa87372.6f787c"]]},{"id":"31fc6294.8b332e","type":"function","z":"c4e1ec3b.2615c","name":"Add Action Notification","func":"msg.payload = {\n\n    \"text\": \"✅ Адмін успішно доданий\",\n    \"chat_id\": msg.receiver\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2380,"y":760,"wires":[["82324cfc.cea19"]]},{"id":"d9ced74.0b9dd28","type":"function","z":"c4e1ec3b.2615c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1000,"wires":[[]]},{"id":"243bf231.928bce","type":"function","z":"c4e1ec3b.2615c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1000,"wires":[[]]},{"id":"99ed937c.c1a5e","type":"function","z":"c4e1ec3b.2615c","name":"Choose to Add Admin","func":"msg.payload = {\n\n    \"text\": \"Вкажіть userName\",\n    \"chat_id\": msg.receiver\n    }\n\n\n \n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["eebbd3c6.42255"]]},{"id":"2c8e6e5a.c68932","type":"function","z":"c4e1ec3b.2615c","name":"Check Name at User Row / Zero Step","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/\" +msg.receiver;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\"\n};\n\n\nmsg.payload = {\n\n            \"step\": \"FindUser\",\n            \"pointer\": \"FindUser\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":660,"wires":[["51705004.ac02a"]]},{"id":"eebbd3c6.42255","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":750,"y":660,"wires":[["2c8e6e5a.c68932"]]},{"id":"51705004.ac02a","type":"http request","z":"c4e1ec3b.2615c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1350,"y":660,"wires":[[]]},{"id":"2fa87372.6f787c","type":"http request","z":"c4e1ec3b.2615c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1320,"y":760,"wires":[["bb85f020.d8898"]]},{"id":"bb85f020.d8898","type":"function","z":"c4e1ec3b.2615c","name":"Convert telegramId to string","func":"msg.payload = msg.payload.data[0].telegramId\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":760,"wires":[["fd5149a2.7585b8"]]},{"id":"fd5149a2.7585b8","type":"function","z":"c4e1ec3b.2615c","name":"Update User Role on Admin 1","func":"msg.url = \"https://intern-task-winter.herokuapp.com/users/admins/\" +msg.payload;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Token 1361242473:AAFrX-qwUt_FxxiASpX-KjyPpQJSBomyHkM\",\n    \"X-User-id\": msg.receiver\n};\n\n\nmsg.payload = {\n\n            \"roleId\": 1,\n            \"step\": \"CurrentAdmin\",\n            \"pointer\": \"CurrentAdmin\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":760,"wires":[["d89725ab.3ffde8"]]},{"id":"d89725ab.3ffde8","type":"http request","z":"c4e1ec3b.2615c","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2150,"y":760,"wires":[["31fc6294.8b332e"]]},{"id":"82324cfc.cea19","type":"subflow:ac745e15.26ec5","z":"c4e1ec3b.2615c","name":"","x":2650,"y":760,"wires":[[]]},{"id":"143603b.8c5e3fc","type":"link in","z":"c4e1ec3b.2615c","name":"","links":["87eddcdf.8efce"],"x":255,"y":660,"wires":[["99ed937c.c1a5e"]]},{"id":"87eddcdf.8efce","type":"link out","z":"6a384cdf.3670b4","name":"","links":["143603b.8c5e3fc"],"x":1135,"y":4760,"wires":[]},{"id":"5d15f0b4.b0326","type":"comment","z":"6a384cdf.3670b4","name":"Choose to Add Admin","info":"","x":1270,"y":4740,"wires":[]}]